captcha~=0.4
click~=8.0.4
Flask~=2.0.3
Flask-Login~=0.5.0
Flask-Mail~=0.9.1
flask_simple_captcha~=1.1.1
flask_sqlalchemy==2.5.1
Flask-WTF~=1.1.1
itsdangerous~=2.1.2
Jinja2~=3.1.2
MarkupSafe~=2.1.2
psycopg2-binary~=2.9.5
pytz~=2022.7.1
requests~=2.28.2
Werkzeug~=2.2.2
WTForms~=3.0.1
chinese_converter~=1.0.2
boto3~=1.26.78
conf~=0.4.1
SQLAlchemy~=1.4.46