.btn-check:focus+.btn, .btn:focus {
    box-shadow: none!important;
}

.modal-error-link {
    background: #00000000;
    border: none;
    text-decoration: underline;
    margin-left: -5px;
    cursor: pointer;
    color: #0000EE;

}

.btn-outline-dark {
    color: #343a4000;
}

.btn-outline:active {
    background-color: #000000D0;
}

.btn-outline-dark:hover {
    background-color: #00000080;
    color: #28a745;
    font-weight: 400;
}

.btn-outline-success:hover {
    /* background-color: unset; */
    border-color: #524252;
    /* color: #28a745; */
}

.btn-primary {
    background-color: #28a745;
    border-color: #0d3516;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    background-color: #28a745 !important;
        border-color: #0d3516 !important;
}

.btn-primary:hover {
    background-color: #0d3516 !important;
        border-color: #0d3516 !important;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.glow-barber {
    /* width: 220px; */
    /* height: 50px; */
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-barber:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-barber:active {
    color: #000
}

.glow-barber:active:after {
    background: transparent;
}

.glow-barber:hover:before {
    opacity: 1;
}

.glow-barber:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.rainglow {
    /* width: 220px; */
    /* height: 50px; */
    border: none;
    /* outline: none; */
    color: #fff;
    background: #111;
    /* cursor: pointer; */
    position: relative;
    z-index: 0;
    /* border-radius: 29px; */
}

.rainglow:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1; /* <<<<<<<<------ to keep the glow on permanently*/
    transition: opacity .3s ease-in-out;
    /* border-radius: 10px; */
}

.rainglow:active {
    color: #000
}

.rainglow:active:after {
    background: transparent;
}

.rainglow:hover:before {
    opacity: 1;
}

.rainglow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: inherit;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

<!-- HTML !-->
<button class="button-36" role="button">Button 36</button>

/* CSS */
<!-- HTML !-->
<button class="button-19" role="button">Button 19</button>

/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}