.btn-check:focus+.btn, .btn:focus {
    box-shadow: none!important;
}

.modal-error-link {
    background: #00000000;
    border: none;
    text-decoration: underline;
    margin-left: -5px;
    cursor: pointer;
    color: #0000EE;

}

.btn-outline-dark {
    color: #343a4000;
}

.btn-outline:active {
    background-color: #000000D0;
}

.btn-outline-dark:hover {
    background-color: #00000080;
    color: #28a745;
    font-weight: 400;
}

.btn-outline-success:hover {
    /* background-color: unset; */
    border-color: #524252;
    /* color: #28a745; */
}

.btn-primary {
    background-color: #28a745;
    border-color: #0d3516;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    background-color: #28a745 !important;
        border-color: #0d3516 !important;
}

.btn-primary:hover {
    background-color: #0d3516 !important;
        border-color: #0d3516 !important;
}