
/* overrides
-------------------------------------------------- */



/* Padding below the footer and lighter body text */

body {
  /* color: #5a5a5a; */
  background: black;
}

.bg-dark {
  background: #252027!important;
}

.list-group-item-dark {
    color: #27f759;
    background-color: #252028;
    margin-bottom: 1px;
}

.btn-check:focus+.btn-outline-success, .btn-outline-success:focus {
    box-shadow: none;
}

.btn-check:hover+.btn-outline-success, .btn-outline-success:hover {
    /* box-shadow: 0 0 0 0.25rem rgb(26 135 84); */
    box-shadow: 0px 0px 7px 3px rgb(173 255 46); */;
    color: white!important;
}
/*
.btn-transparent {
    background-color: transparent;
}
*/
.alert {
    /* left: 50%; */
    top: 60px;
    width: fit-content;
    min-width: 200px;
    max-width: 500px;
    position: fixed;
    /* padding-right: 30px; */
    /* padding-left: 3px; */
    transition: 1s;
    z-index: 1100;
    display: inline-flex;
}

.btn-close-alert {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 15px;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel-inner {height: 100%;}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  background: #00000080;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0%;
  text-align: left;
  padding-left: 30px;
  /* vertical-align: middle; */
  padding-top: 30px;
}



/* Declare heights because of positioning of img element */
.carousel-item {
  margin-left: 15p;
  margin-right: 0%;
  width: 100%;
  height: 100%;
  /* top: 64px; */
}

.active {
  /* margin-left: 0%; */
  /* margin-right: 0%; */
  /* width: 20%; */
  /* height: 0; */
  /* padding-bottom: 20%; */
  /* max-width: 100%; */
  /* background-color: #574b5f; */
  /* border-radius: 2rem; */
  /* background-image: radial-gradient(#36ff36, #36ff3600); */
  /* box-shadow: none!important; */
  /* background-image: radial-gradient(red 5%, green 35%, transparent 75%); */
}

.carousel-item > img {
  position: absolute;
  top: 00px;
  left: 0;
  min-width: 100%;
  height: 100%;
  /* margin-left: 50px; */
  /* vertical-align: middle; */
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

#gallery-bg {
    padding-bottom: 50px;
}

.main-logo {
    height: 23px;
    display: inherit;
    /* width: 50%; */
}

.main-logo-long {
    display: none;
}


/* GALLERY STUFF */
.main-bg {
    background: #332a34;
    /* margin-top: 57px; */
}

.green-text-outline {
  color: #1a8754;
  border-color: #1a8754;
  margin-top: auto;
  margin-bottom: auto;
}

.green-text {
  color: #1a8754;
}

#disconnect {
    display: none;
}

.deposit-div {
    padding-right: 6px;
    padding-left: 6px;
    display: inline-flex;
    align-items: center;
}

.money-transfer {
    width: 300px;
    margin: 0 auto;
    padding-top: 30px;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.stickyMiddle {
  position: fixed;
  top: 100px;
  width: 100%;

}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.stickyMiddle + .content {font-size: 1.2rem;
  padding-top: 60px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

h3 {
    color: #28a745;
    padding-bottom: 0px;
}

#main_section {
    margin-top: 56px;
}

.pb-5, .py-5 {
    padding-bottom: 0px;
}

.modal-content {
    background-color: #110e11ed;
    height: 100%;
    border: 1px solid rgb(26 135 84 / 56%);
}

.modal-header {
    border-bottom-color: #28a745;
    border-width: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
}

.modal-footer {
    border-top-color: #28a745;

}

.login-with-text {
    float: left;
    margin: auto 10px auto 15px;
    position: relative;
    top: 15px;
}

.form-control {
    background-color: #ffffff6b;
    border-color: black;
}

.input-group-text {
    background-color: #1f4a26;
    border-width: 0px;
}

.close {
    color: #28a745;
    text-shadow: none;
    font-size: xx-large;
    background: #00000000;
    border: none;
}

.whiteFont {
    color: #e7e7e7;
}

.error {
    color: #cd5c5c;
    font-size: 0.8rem;
    padding-top: 0.5rem;
    margin-left: 130px;
}

#reg-recaptcha {
    padding-bottom: 10px;
}

#login-recaptcha {
    padding-bottom: 10px;
    padding-top: 10px;
}

#rc-anchor-container {
    border: 1px solid #323232;
}

.login-data {
    /* display: inline; */
    position: relative;
    display: table-cell;
    top: 7px;
    margin-right: 6px;
    /* display: inline-block; */
    /* display: inline-block; */
    text-align: center;
    /* right: 15px; */
    bottom: 10px;
}

.login-data-mobile {
    top: 3px;
    width: 100%;
    position: relative;
    display: inline-block;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #83001c;
  font-size: .8rem;
  opacity: 1; /* Firefox */
}

.balanceBox {
    display: inline;
    /* border-color: #28a745; */
    border: 1px solid #126224;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}

.switch {
      display: inline-block;
      width: 60px;
      height: 34px;
      position: relative;
    }

.toggle-thumb {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #475569;
      border-radius: 40px;
      cursor: pointer;
    }

.toggle-thumb:before {
      content: "";
      height: 26px;
      width: 26px;
      position: absolute;
      left: 4px;
      bottom: 4px;
      border-radius: 50%;
      background-color: #E2E8F0;
      transition: .4s all ease;
    }

.checkbox {
      opacity: 0;
      width: 0;
      height: 0;
    }

.checkbox:checked + .toggle-thumb:before {
      transform: translateX(26px);
    }

.dayHourCheckbox {
    display: flex;
    align-items: center;
    padding-top: 3px;
}

#dayHourCheckLabel {
    padding-left: 10px;
}

.footer-bg {
    padding-bottom: 200px;
    background: #332a34;
}

.rowDrop {
    padding: 0.5rem;
    display: none;
    background-color: black;
}

#forgotPassword {
    float: right;
}

.game-launch-spinner {
    height: unset;
    width: unset;
    border: unset;
    align-self: center;
}

.login-reg-spinner {
    background-color: #120e12;
    display: flex;
    position: absolute;
    justify-content: center;
    padding: 0 0 0 0;
}

.icon-spinner {
    border: none;
    width: 100%;
    height: 100%;
    animation: 1.5s linear infinite spinner-border;
    /* bottom: 8px; */
    position: inherit;
    left: 0px;
    right: 0;
    top: auto;
    bottom: auto;
    /* vertical-align: middle; */
}

#loadingscreenModalWindow {
    width: 300px;
}

.spinner-logo {
    height: 30px;
    top: 4px;
    bottom: auto;
    /* left: auto; */
    /* right: auto; */
    position: relative;
    border: none;
    /* vertical-align: middle; */
}

#language-select {
    /* height: 35px; */
    /* top: 3px; */
    /* position: relative; */
    background-color: #4f4151;
    /* border-radius: 0.25rem; */
    /* border-color: cornsilk; */
}

.dropdown-item {
    padding: 0.25rem 0.5rem;
    color: unset;
}

.dropdown-item:hover {
    border-radius: 0rem;
    background-color: #1a8754 !important;
    border-color: #0d3516 !important;
    color: #adff2e;
}

.dropdown-menu {
    background-color: #342a34;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #28a745 !important;
    background-image: radial-gradient(#4CAF50 5%, green 35%, transparent 75%);
}

.dropdown-divider {
    border-top: 1px solid #1987545e;
}

#main-icon {
    height: 25px;
    padding-left: 2px;
}
