.dropdown-submenu {
  position: relative;
  /* margin-left: 7px; */
}

.dropdown-submenu > .dropdown-menu {
  right: 100%;
  margin-top: 0.5rem;
  top: -16px;
}

.dropdown-menu.show {
    margin-top: 0.5rem;
}

.dropdown-submenu:hover > .dropdown-menu, .dropdown-submenu > a:focus + .dropdown-menu {
  /* :focus support is incomplete - pressing Tab sets focus to submenu, but that immediately hides submenu */
  display: block;
  color: #1a8754;
}

@media (max-width: 400px) {
    .dropdown-submenu {
      position: relative;
      margin-left: 7px;
    }
}