.top-section-icon {
    height: 100%;
    /* width: 100%; */
    /* max-height: 76px; */
    /* min-height: 48px; */
    /* margin: 5px 5px 5px 5px; */
}

.gallery-container {
    max-width: 768px;
    display: inline-flex;
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 100%;
}

.gallery-header-icon {
    height: 30px;
    margin-right: 10px;
    max-height: 64px;
}

.gallery-thumb-top {height: 100%;/* object-fit: cover; */width: 100%;object-position: center top;/* border: none; */}


.gallery-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.list-group-top-section {
    width: 100%;
    margin-right: 40px;
}

.gallery-header {
    /* display: inline-flex; */
    justify-content: center;
    margin-top: 15px;
    width: 100%;
    padding-top: 186px;
    margin-top: -160px;
}

.gallery-slots-header {
    display: inline-flex;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
    padding-top: 186px;
    margin-top: -150px;
}

#mid-section {
    display: grid;
    height: 100%;
    justify-content: center;
}

.view-small {
    display: grid;
    width: 100%;
    justify-content: center;
    margin: 0 1px 0 1px;
}

.top-games-button-overlay {
    height: 102%;
    width: 102%;
    position: absolute;
    /* display: flex; */
    /* justify-content: center; */
    top: 0px;
    background-image: linear-gradient(to bottom, #342a3424, #342a34DA 72%, #342a34FF 90%, #342a34FF 100%);
    left: -1%;
    right: -1%;
    top: -1%;
    bottom: -1%;
}

.top-games-button-overlay-title {
    position: absolute
    ;z-index: 4;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: #ffe204;
    text-shadow: 2px 3px 7px black;
    font-size: large;
    margin-bottom: 7px;
}

.card {
    /* width: 100%; */
    /* height: 160px; */
    margin-bottom: 20px;
    margin-top: 15px;
    background: #736988;
    font-size: 1.5rem;
    border: none;
    max-height: 140px;
}

.badge {
    margin: 3px;
    position: absolute;
    height: 6vw;
    font-size: small;
    max-height: 23px;
}

.card-fishing {width: 42vw!important;height: 33vw!important;max-width: 300px;max-height: 200px;}
.card-pvp {width: 80vw!important;height: 39vw!important;max-width: 800px;max-height: 180px;}

.large-card {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    margin: 0 auto;
}

.card-img-top {
    height: 120px;
}

.gallery-btn {
    font-size: .8rem;
    position: absolute;
    width: 100%;
    font-weight: 300;
    height: 100%;
    background-color: #00000000;
    color: #00000000;
    white-space: normal;
    border-radius: 0px;
}

.gallery-btn:hover {
    background-color: #000000BB;
    color: #28a745;
    font-weight: 400;
    font-size: small;
    border-radius: 0px;
}

@media (min-width: 769px) {
    .gallery-btn:hover {
        font-size: 1.5rem;
    }

    #gallery-pvp-container {
        display: inline-flex;
    }

    .card-pvp {
        margin-top: 20px;
        max-width: 218px;
        max-height: 250px;
        margin: 0 10px 0 10px;
    }
}


@media (max-width: 768px) {

    .list-group-top-section {
        justify-content: center;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        max-width: 600px;
    }

    .badge {
        margin-left: vw!important;
    }

    .top-games-button-overlay-title {
        font-size: small;
    }

    .gallery-btn:hover {
        font-size: small;
    }

}

@media (max-width: 900px) {
    #mid-section {
        display: block;
    }
}


/* Mobile-------------------------------------------------- */
@media (max-width: 414px) {

    .list-group-top-section {
        justify-content: center;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
    }

    .gallery-container {
        width: 100%;
        justify-content: center;
        background-color: none;
    }

}