#socials-container {
    display: block;
    position: fixed;
    left: 50%;
    margin-left: -12.5%;
    box-shadow: 0px 12px 19px 5px rgba(0,0,0,0.9);
    /* max-width: 477px; */
    /* min-height: 46px; */
    /* width: calc(100vw - 170px); */
    /* width: calc(100vw - 170px); */
    z-index: 10;
    background: #312132;
}

.socials-container-child {
    /* margin-right: 40px; */
    color: transparent;
    display: flex;
    /* vertical-align: middle; */
    padding-left: 5px;
    padding-right: 5px;
}

.socials-title {
    /* font-size: 17px; */
    /* padding-left: -42px; */
    padding-right: 5px;
    padding-left: 15px;
    margin: auto 0;
    z-index: 10;
    vertical-align: middle;
}

.socials-icon {
    height: 35px;
    /* color: aliceblue; */
    /* top: 12px; */
    /* z-index: 10; */
    /* position: relative!important; */
    /* padding-right: 0px; */
    /* left: 8px; */
    /* box-shadow: 0 0 200px rgba(0,0,0,0.9) inset; */
}

.socials-block {
    margin-left: -103px;
    padding-left: 63px;
    height: 70px;
    background-color: #252028;
    z-index: 0;
    position: static;
}

#socials-counter {

}

#header-social-networks {
    position: absolute;
    margin-top: -15px;
    /* margin-left: 1px; */
    z-index: 10;
    font-size: medium;
}

.social-logo {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%)!important;
}

.svg-twitter-logo:hover {
    filter: invert(93%) sepia(10%) saturate(6326%) hue-rotate(353deg) brightness(102%) contrast(106%)!important;
}

.top-section-icon {
    height: 198px;
    width: 88px;
    position: relative;
    max-height: 172px;
    /* min-height: 48px; */
    /* margin: 5px 5px 5px 5px; */
}

.gallery-container {
    max-width: calc(var(--maxWidth) - var(--navDesktopWidth) - 15);
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    /* right: 50%; */
    /* width: 99%; */
    /* margin: 0 auto; */
    /* position: relative; */
}


.gallery-container.fishing {display: flex;}


.gallery-header-icon {
    height: 30px;
    margin-right: 10px;
    max-height: 64px;
}

.gallery-thumb-top.portrait {
    height: 100%;
}


.gallery-img {
    height: 115%;
    width: 178%;
    object-fit: cover;
    /* transform: scale(1.2); */
    /* margin-left: 45px; */
}

.list-group-top-section {
    width: 100%;
    margin-right: 40px;
}

.gallery-header {
    /* display: inline-flex; */
    justify-content: center;
    margin-top: 15px;
    /* width: 100%; */
    padding-top: 189px;
    margin-top: -161px;
}

.gallery-slots-header {
    display: inline-flex;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
    padding-top: 186px;
    margin-top: -150px;
}

#mid-section {
    /* display: table; */
    height: 100%;
    /* justify-content: center; */
    padding-left: 25px;
    padding-right: 13px;
    width: 100%;
    /* max-width: calc(var(--maxWidth) - var(--navDesktopWidth)); */
    background: #1d1b1b;
}

.view-small {
    display: grid;
    width: 100%;
    max-width: 400px;
    /* justify-content: center; */
    margin: 0 1px 0 1px;
}

#gallery-container-top-games {
    display: block;
    /* width: 90%; */
    /* max-width: 750px; */
    /* overflow-x: overlay; */
    left: 20px;
    max-width: calc(var(--maxWidth) - 20px);
}

.view-small-top-games::-webkit-scrollbar {
  width: 10px;
}

.view-small-top-games::-webkit-scrollbar-track {
  background: var(--darkPurp);
}

.view-small-top-games::-webkit-scrollbar-thumb {
  background-color: var(--lightPurp);
  border-radius: 7px;
  border: 6px solid var(--darkPurp);
}

.view-small-top-games {
    display: -webkit-inline-box;
    position: relative;
    width: 100%;
    overflow-y: hidden;
    justify-content: center;
    margin: 0 1px 0 1px;
}

.top-games-button-overlay {
    height: 102%;
    width: 102%;
    position: absolute;
    /* display: flex; */
    /* justify-content: center; */
    top: 0px;
    background-image: linear-gradient(to bottom, #342a3400, #342a34DA 86%, #342a34FF 90%, #342a34FF 100%);
    left: -1%;
    right: -1%;
    top: -1%;
    bottom: -1%;
}

.top-games-button-overlay-title {
    padding-left: 33px;
    position: absolute;
    z-index: 4;
    top: 0px;
    width: 100%;
    text-align: center;
    color: #ffe204;
    text-shadow: 2px 3px 7px black;
    font-size: medium;
    padding-bottom: 5px;
    background-image: linear-gradient(to bottom, #342a344a, #342a3477 96%, #342a34AA 100%);
}

.card {
    width: 160px;
    height: 201px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
    background: #736988;
    font-size: 1.5rem;
    /* border: none; */
    /* max-height: 140px; */
}

.badge {
    padding-top: 9px;
    position: absolute;
    height: 32px;
    font-size: small;
    /* max-height: 23px; */
    z-index: 5;
    border-radius: 0;
}

.card-fishing {max-width: 461px;height: var(--fishingMobileHeight);margin: 0 auto;margin-bottom: 20px;width: 100%;max-height: 200px;display: -webkit-box;overflow: hidden;}

.card-fishing.portrait {
    height:  var(--fishingMobileHeightPort);
}

.fishing-game-logo {
    height: 198px;
    position: absolute;
    /* padding-top: 34px; */
    /* left: -21px; */
    object-fit: cover;
    /* padding-left: -100px; */
    /* margin-left: -24px; */
    /* padding-right: 3px; */
    /* width: 172%; */
    width: 60%;
    position: relative;
    z-index: 1;
}

.fishing-game-logo.portrait {
	/* width: 20vw; */
}

.gallery-thumb-top fishing {
    width: 18px;
}

#video-AT01 {
    /* width: 0; */
    /* float: right; */
    /* margin: 0 auto; */
}

#video-AB3 {
    /* width: 330px; */
    /* margin-left: 3px; */
    /* height: 198px; */
}

#fishing-img-AT01 {
    /* width: 20vw; */
    /* height: -webkit-fill-available; */
    /* padding-left: 0%; */
}

.card-pvp {/* width: 80vw!important; */height: 39vw!important;max-width: 800px;max-height: 180px;}

.large-card {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    margin: 0 auto;
}

.card-img-top {
    height: 120px;
}

.fishing-btn {
    top: 0px;
    z-index: 1;
}

.gallery-btn {
    font-size: 1.5rem;
    position: absolute;
    width: 100%;
    /* font-weight: 300; */
    height: 100%;
    background-color: #00000000;
    color: #00000000;
    white-space: normal;
    border-radius: 0px;
    z-index: 1;
}

.gallery-btn:hover {
    background-color: #000000BB;
    border-radius: 0px;
    color: #ffe204;
    height: 100%;
    transition: 300ms;
}

.gallery-btn:hover + span {
    display: block;
}

.word-container {
	width: 100%;
	/* min-height: 100%; */
	/* margin-top: -114px; */
	top: 0;
	/* position: absolute; */
}

.word {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: "Futura";
	font-size: 30px;
	font-weight: 900;
	color: var(--color, #fff);
	display: flex;
	pointer-events: none;
	user-select: none;
	line-height: 1.8rem;

	.char {
		position: relative;
		-webkit-text-stroke: 2px #000;
		transform: translateY(-45%) rotate(var(--angle));
		animation: text-bounce 2s ease infinite;
		animation-delay: calc((var(--word-index) * -0.15s) + (var(--char-index) * 0.1s));
		z-index: calc(-1 * var(--char-index));
		margin-left: -0.6rem;
	}
}

@keyframes text-bounce {
	0%,
	100% {
		transform: translateY(-45%) rotate(var(--angle));
	}
	50% {
		transform: translateY(45%) rotate(var(--angle));
	}
}

@media (min-width: 769px) {
    .gallery-btn:hover {
        font-size: 1.5rem;
    }

    #gallery-pvp-container {
        display: inline-flex;
        justify-content: center;
    }

    .card-pvp {
        margin-top: 20px;
        max-width: 218px;
        max-height: 250px;
        margin: 0 10px 0 10px;
    }
}






@media (max-width: 900px) {
    #mid-section {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: var(--topbarheight);
    }

    #socials-container {
        margin-top: 0px;
        margin-bottom: 20px;
        margin-right: 190px;
        /* margin-left: 54px; */
    }
}

@media (max-width: 768px) {

    .list-group-top-section {
        justify-content: center;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        max-width: 600px;
    }

    .badge {
        margin-left: vw!important;
    }

    .top-games-button-overlay-title {
        font-size: small;
    }

    .gallery-btn:hover {
        font-size: small;
    }

}

@media (max-width: 700px) {
    #socials-container{
        /* margin-left: 0px; */
        margin-bottom: 10px;
        /* width: 70vw; */
        /* margin-top: -60px; */
    }

    #header-social-networks {
        margin-left: 0px;
        font-size: medium;
    }

    .socials-block {
        width: 95%;
    }

    .socials-title{
        font-size: 12px;
        padding-right: 15px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .socials-icon {

    }
}

@media (max-width: 580px) {
    .socials-title {
        font-size: 10px;
        /* padding-left: 34px; */
    }
    .socials-icon {

    }
    #socials-container {
        margin-left: 0px;
        /* margin-right: 320px; */
        /* width: calc(100vw - 170px); */
    }

	.socials-container-child {
		padding-left: 10px!important;
		}
	
	#mid-section {
		padding: var(--topbarheight) 0 0 0;
	} 

}

@media (max-width: 400px) {

	#socials-container {
	width: calc(100vw - 128px);
	height: 60px;
	}

	.socials-container-child {
	padding-left: 9px!important;
	}
}



/* Mobile-------------------------------------------------- */
@media (max-width: 414px) {

    .list-group-top-section {
        justify-content: center;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
    }

    .gallery-container {
        width: 100%;
        justify-content: center;
        background-color: none;
    }

}


@media (max-width: 580px) {
    .gallery-container {
        display: block;
    }

	.fishing-game-logo {
		height: calc(var(--fishingMobileHeight) - 2px);
		width: 73%;
	}


	.fishing-game-logo.portrait {
		height: 100%;
		z-index: 0;
		left: -10%;
	}

	.gallery-container.fishing {display: block;}

}