.profile-container {
    margin-left: 40px;
    width: 70vw;
    max-width: 780px;
    }

@media (max-width: 768px) {
    #main-container {
        width: max-content;
    }
    #main-footer {
        width: fit-content;
    }
}

@media (max-width: 871px) {

    #results {
        font-size: small;
    }
}

@media (max-width: 900px) {

    .profile-container {
    margin-left: 0px;
    width: 100%;
    }
}

@media (min-width: 1320px) {
    .profile-container {
        /* width: 80%; */
        /* margin: 0 auto 0 auto; */
    }
}
