.crypto-icon {
    height: 100%;
}

.crypto-button {
    float:left;
    border: none;
    height: 55px;
}

.crypto-icon {
    height: 100%;
}

.crypto-chain-icon {
    height: 100%;
}

.blockchain-button {
    float:left;
    border: none;
    height: 55px;
}

.deposit-top-row {
    display:inline-flex;
}

.deposit-icon-selector {
    margin-bottom:5px;
}

.crypto-selector {

}

.blockchain-selector {

}