.crypto-icon {
    height: 100%;
}

.crypto-button {
    float:left;
    border: none;
    height: 55px;
}

.crypto-icon {
    height: 100%;
}

.crypto-chain-icon {
    height: 100%;
}

.symbol-tag {
    font-size: x-large;
    color: greenyellow;
    text-shadow: 2px 4px black;
}

#money-send {
    width: 100px;
    color: #1a1519;
    background-color: #8ad11b;
    font-size: x-large;
}

.money-shortkey {
    display: flex;
}

.blockchain-button {
    float:left;
    border: none;
    height: 55px;
}

.deposit-top-row {
    display:inline-flex;
}

.deposit-icon-selector {
    margin-bottom:5px;
}

.crypto-selector {position: relative;left: 50%;text-align: center;}

.blockchain-selector {right: 15%;position: absolute;text-align: center;}