.crypto-icon {
    height: 100%;
}

.crypto-button {
    /* float:left; */
    /* border: none; */
    /* height: 60px; */
    /* width: 60px; */
    /* background-color: unset; */
    float: left;
    border: none;
    height: 60px;
    width: 60px;
    /* align-content: center; */
}
.crypto-button.active {
    background-image: radial-gradient(green 5%, green 35%, transparent 75%);
}
.crypto-button:hover {
    /* border: none; */
    /* box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25); */
}

.blockchain-button {
    float:left;
    border: none;
    height: 60px;
    width: 60px;
}

.blockchain-button.active {
    background-image: radial-gradient(green 5%, green 35%, transparent 75%);
}

.blockchain-button:hover {
    background-color: none;
}

.icon-spinner {
    border: none;
}

#deposit-spinner {
    right: 0px;
    position: absolute;
    width: 100%;
    background-color: black;
    height: 100%;
    display: none;
}

.crypto-icon {
    height: 85%;
}

.crypto-chain-icon {
    height: 70%;
}

#money-send {/* width: 100px; */font-size: larger;font-weight: bold;/* color: #adff2e!important; *//* box-shadow: 0px 0px 7px 3px rgb(173 255 46); */}

#deposit-amount {
    margin-right: 15px;
}

.modal-divider-horz {
    height: 2px;
    width: 80%;
    background-color: #1a8754;
    position: absolute;
    left: 10%;
    right: auto;
}

.symbol-tag {
    font-size: x-large;
    color: greenyellow;
    text-shadow: 2px 4px black;
}

.money-shortkey {
    display: flex;
    height: 3rem;
}

.deposit-top-row {
    /* display:inline-flex; */
}

.deposit-icon-selector {
    margin-bottom:5px;
    left: 15%;
}

.crypto-selector {position: relative;/* left: 25%; */text-align: center;display: flex;}

.blockchain-selector {/* right: 15%; */position: relative;text-align: center;display: flex;}

#alert-message {
    /* margin-left: 0px; */
}

@media (max-width: 514px) {
    .money-shortkey {
        font-size: small;
    }
}
