/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.nav-bar-selector {
    text-align: center;
    width: 100%;
    padding: 0px;
    font-size: .8rem;
}

.nav-link-selector a.active-link {
  color: #28a745;
}

.nav-link-selector a.active-link {
  color: #28a745;
}

.navbar-dark .navbar-brand {
  color: #28a745;
  /* padding-top: 10px; */
  vertical-align: middle;
  margin-right: 0px;
}

.navbar-dark:hover .navbar-brand:hover {
    color: #c8ed07;
    background-color: #524252;
}

.nav-link {
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    /* margin: 0px auto 0px auto; */
    /* padding: 9px 0px 0 0; */
    color: #28a745;
    height: 100%;
    width: 15%;
    /* height: 100%; */
    font-size: 1.2rem;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.nav-link:hover {
}

.dropdown-toggle::after {
     /* border-top: none; */
}

.dropdown-slots {
    transform: translate3d(0px)!important
}

.nav-link:hover {
    color: #b5b6b944;
    border-color: #b5b6b944 #b5b6b944 #ffffff;
}