/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.nav-link:focus, .nav-link:hover {
    color: #b276be;
}

.nav-bar-selector {
    text-align: center;
    width: 100%;
    padding: 0px;
    font-size: .8rem;
}

.nav-link.active  {
    background-color: #4f2f55;
    color: #333;
    color: #ffe204;
    text-shadow: 2px 3px 7px black;
    /* height: 89px; */
}

.nav-link-selector a.active-link {
  color: #28a745;
}

.nav-link-selector a.active-link {
  color: #28a745;
}

.navbar-dark .navbar-brand {
  color: #28a745;
  padding-bottom: 0;
  vertical-align: middle;
  margin-right: 0px;
}

.navbar-dark:hover {
    color: #c8ed07;
    background-color: #524252;
}

.nav-link {
    display: inline-grid;
    padding-left: 0px;
    padding-right: 0px;
    color: #28a745;
    height: 100%;
    width: 15vw;
    padding: 0;
    justify-content: center;
    font-size: 0.6rem;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.nav-link:hover {
}

#navigation-bar {
    padding: 0px 0% 0px 0%;
    position: fixed;
    /* width: 100%; */
    /* height: -309px; */
}

.dropdown-toggle::after {
     /* border-top: none; */
     /* float: right; */
     right: 7px;
     top: 16px;
     /* bottom: auto; */
     position: absolute;
     /* margin-top: auto; */
     /* margin-bottom: auto; */
}

.nav-link:hover {
    /* color: #28a745; */
    /* border-color: #b5b6b944 #b5b6b944 #ffffff; */
    color: #ffe204;
    text-shadow: 2px 3px 7px black;
}

#slots-dropdown {
    width: 100%;
    bottom: 72px;
    z-index: 5;
    display: none;
    top: -100px;
    /* justify-content: center; */
    padding-top: 0px;
    /* padding-bottom: 0px; */
    /* margin: auto auto auto auto; */
    display: flex;
    margin-bottom: 0px;
    background: #212529;
}

.nav-link-title {
    text-align: center;
    font-size: 1rem;
    padding-top: 5px;
}

.navbar-icon {
    height: 60px;
    /* padding-bottom: 20px; */
    padding: 7px;
    margin: 0 auto 0 auto;
    max-height: 72px;
}

.navbar-fixed {
    position: fixed;
    /* margin: auto; */
    /* left: auto; */
    /* right: auto; */
    z-index: 100;
    bottom: 0px;
    height: 100px;
    /* box-shadow: 0px -3px 2px 0px rgb(26 135 84); */
    max-height: 112px;
    /* max-width: 1120px; */
    left: 50%;
    transform: translate(-50%, 0);
    background: #252027;
}

.nav-link-container {
    display: grid;
}


@media (max-width: 340px) {

    .nav-link {/* font-size: 0.7rem; */padding: 10px 0vw 0px 0vw;width: 13vw;}

}

@media (max-width: 300px) {

    .nav-link { font-size: 0.6rem; }

}

@media (max-width: 347px) {
    .nav-link { font-size: 0.8rem; }

    .navbar-icon {
        height: 11vw;
        margin-bottom: 6px
    }

}

@media (max-width: 375px) {
    .nav-link-title {
        font-size: 0.65rem;
    }
}


/* navbar starts to grow from here*/
@media (max-width: 419px) {
    .navbar-fixed {
        height: 80px;
    }

    .navbar-icon {
        height: 50px;
    }

}

@media (max-width: 580px) {
    .nav-link-title {
        font-size: 0.9rem;
    }

}

@media (max-width: 500px) {
    .nav-link-title {
        font-size: 0.7rem;
    }

}

@media (min-width: 640px) {
    #slots-dropdown {
    /* top: -94px; */
    /* left: 323px; */
    /* width: 7px!important; */
    /* display: block; */
    background: #252028;
    height: 100%;
    width: 100%;
    padding-left: 25px;
    padding-bottom: 0px;
    }
}

@media (min-width: 768px) {
    .nav-link {
        font-size: 1.2rem;
        background-color: #252028;
        /* height: 77px; */
    }

}


@media (min-width: 900px) {
    .navbar-icon {/* float: right; */right: 0;margin-right: 12px;position: relative;height: 55px;}

    .nav-link-title {
        font-size: 1rem;
        /* float: right; */
        /* right: -23px; */
        left: 24px;
        /* right: 788px; */
        /* top: 100px; */
        margin-top: 15px;
        position: relative;
    }

    .nav-link-title.slots {right: -28px;}

    .navbar-icon.slots {/* right: 0px; */}

    .navbar-fixed {
        top: 74px;
        /*        left: 75px;
        width: 148px;
        */
        height: 97px;
        position: fixed;
        left: 50%;
        max-width: 985px;
        height: 0;
        background: none;
    }

    .nav-link {
        display: flex;
        /* margin-right: 88px; */
        width: 185px;
        /* max-width: 230px; */
        height: 65px;
    }

   .nav-bar-selector {
        font-size: 0.9rem;
    }

    .bg-dark {
        /* background: none; */
    }

    .nav-link.active {
        /* background-color: #4f2f55; */
        /* display: inherit; */
    }

    #slots-dropdown {
        display: block!important;
        /* width: 236px; */
        left: 500px;
        top: 392px;
        border: none;
        background: none;
        inset: auto!important;
        transform: translate3d(13px, 0px, 0px)!important;
        margin-left: -27px!important;
    }

    .slots-subicon {
        width: 175px;
        right: 0px;
        position: relative;
    }

    #nav-slots {
      margin-top: 3px;
      
    }
}

@media (min-width: 1035px) {
    .main-bg {
        /* padding-left: 235px; */
    }

    .navbar-icon {
        /* right: 782px; */
    }

    .nav-link-title {
        /* right: 873px; */
    }

    .navbar-fixed {
        /* width: 975px; */
    }
}

@media (min-width: 1180px) {
   .nav-bar-selector {
        font-size: 0.9rem;
    }
}