.top-section-icon {
    height: 100%;
    /* width: 100%; */
    /* max-height: 76px; */
    /* min-height: 48px; */
    /* margin: 5px 5px 5px 5px; */
}

.top-section-container {
    max-width: 768px;
    display: inline-flex;
    /* margin-left: auto; */
    width: 100%;
}

.top-game-thumb-top {height: 100%;object-fit: cover;width: 100%;/* border: none; */}

.top-games-expand {
}

.top-games-cover {

}

.top-games-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.list-group-top-section {
    width: 100%;
    margin-right: 40px;
}

#top-section-header {
    display: inline-flex;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
}

#mid-section {
    /* display: grid; */
    justify-content: center;
}

.top-games-button-overlay {
    height: 100%;
    width: 101%;
    position: absolute;
    display: flex;
    /* justify-content: center; */
    top: 0px;
    background-image: linear-gradient(to bottom, #342a3424, #342a34DA 72%, #342a34FF 90%, #342a34FF 100%);
    left: -1px;
    /* right: 2px; */
}

.top-games-button-overlay-title{position: absolute;z-index: 4;/* top: 0px; */bottom: 0px;/* height: 100%; */width: 100%;text-align: center;color: #ffe204;text-shadow: 2px 3px 7px black;font-size: small;margin-bottom: 7px;}

@media (min-width: 1367px) {

/* Class widths */


    .view-med {
        display: none;
    }

    .view-small {
        display: none;
    }

}

@media (max-width: 1366px) {

    #middle_bar {
        padding: 0px 12% 0px 12%;
    }

/* Class widths */
    .view-large {
        display: none;
    }



    .view-small {
        display: none;
    }

}

/* Tablet-------------------------------------------------- */
@media (max-width: 900px) {

/* Class widths */
    .view-large {
        display: none;
    }

    .view-med {
        display: none;
    }

    .view-small {
        display: grid;
        width: 50%;
        justify-content: center;
    }

}

@media (max-width: 768px) {

    .list-group-top-section {
        justify-content: center;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        max-width: 600px;
    }

    .badge {
        margin-left: vw!important;
    }
}

/* Mobile-------------------------------------------------- */
@media (max-width: 414px) {

/* Class widths */
    .view-large {
        display: none;
    }

    .view-med {
        display: none;
    }

    .view-small {
        display: block;
    }

    .list-group-top-section {
        justify-content: center;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
    }

    .top-section-container {
        width: 100%;
    }

    #top-section-header {
        /* width: 100%; */
    }

    #middle_bar {
        padding: 0px 0% 0px 0%;
    }

}