.top-bar-right-side {
    right: 0px;
    position: absolute;
    display : flex;
    align-items : center;
    top: 0px;
    margin-right: 5px;
}

.top-bar-desktop {
    width: 995px;
    position: relative;
    display: inherit;
    margin: 0 auto;
}

.top-bar-mobile {
    width: 100%;
    padding: 3px 9px 0px 9px;
}

.top-dropdown-button {
    float:left;
    width: 100%;
    height: 100%;
}

#address-field {
    display:none;
    position: absolute;
    left: 10px;
}

#top-bar-dropdown-button {
    min-width: 120px;
    padding-left: 0px;
}

.crypto-symbol {
    font-size: small;
}

.topbar-icon {
    width: 25px;
}

#rewards-copy-button {
    color: beige;
}

#address-field-sub {
    word-wrap: break-word;
    /* font-size: xx-small; */
    /* overflow-wrap: break-word; */
    /* position: fixed; */
    width: 70px;
    height: 26px;
    overflow: hidden;
    margin-right: auto;
    margin-left: 2px;
    white-space: normal;
}


.text-animated-username{
    display:inline;
    overflow: hidden;
    width: 84px;
    margin-right: -5px;
    position:relative;
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-direction: alternate;
}
.text-animated-address{
    display: flex;
    /* width: 100%; */
    /* word-wrap: break-word; */
    /* font-size: xx-small; */
    position: absolute;
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;

    animation-direction: alternate-reverse;
}

@keyframes fade{
    0%,50% {
      opacity: 0;
}
    100%{
      opacity: 1;
  }
}

.color-swoosh {

    background: linear-gradient(to right,#095fab 10%, #25abe8 50%, #57d75b 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;

}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.neon {color: #4b3716;}

.neon:nth-child(1) {
  animation: neon1 1.5s ease-in-out infinite alternate;
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

