.top-bar-right-side {
    float: right;
    position: relative;
    display : flex;
    align-items : center;
    top: 0px;
    margin-right: 5px;
}

.top-bar-desktop {
    width: 100%;
    display: contents;
}

.top-bar-mobile {
    width: 100%;
    padding: 3px 9px 0px 9px;
}

.top-dropdown-button {
    float:left;
}

#address-field {
    display:none;
}

.address-field-sub {
    word-wrap: break-word;
    font-size: xx-small;
    /* overflow-wrap: break-word; */
    /* position: fixed; */
    width: 70px;
    height: 26px;
    overflow: hidden;
    margin-right: auto;
    margin-left: 2px;
    white-space: normal;
}


.text-animated-username{
    display:inline;
    width: 100%;
    margin-right: -5px;
    position:relative;
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-direction: alternate;
}
.text-animated-address{
    display: flex;
    /* width: 100%; */
    /* word-wrap: break-word; */
    /* font-size: xx-small; */
    position: absolute;
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;

    animation-direction: alternate-reverse;
}

@keyframes fade{
    0%,50% {
      opacity: 0;
}
    100%{
      opacity: 1;
  }
}
