.reverify-button {
    position: relative;
    /* right: -85px; */
    bottom: 22px;
    height: 40px;
    margin-left: -5px;
    margin-right: -45px;
    margin-top: -8px;
    margin-bottom: -47px;
    font-size: 18px;
    /* float: right; */
    box-shadow: none!important;
}

.rowDrop {
    padding: 0.5rem;
    display: none;
    background-color: black;
}

.reconcile-button {
    /* position: absolute; */
    /* bottom: 235px; */
    height: 35px;
    margin-top: -49px;
    margin-bottom: -47px;
    font-size: 11px;
    box-shadow: none!important;
}

.bootstrap-table .fixed-table-container.fixed-height .table thead th {
    background: #423046!important;
    color: #ebe6c2!important;
    font-weight: 200!important;
}

.bootstrap-table .fixed-table-container .table tbody tr.selected td {
    color: #ebe6c2!important;
}

.bootstrap-table .fixed-table-pagination>.pagination-detail .pagination-info {
    color: #ebe6c2!important;
}

.bootstrap-table .fixed-table-container .table td, .bootstrap-table .fixed-table-container .table th {
    background: #d4e4f2;
}

@media (max-width: 514px) {
    .txn-table-header {
        font-size: 10px;
    }
    .txn-table-row {
        font-size: 7px!important;
    }
    .reverify-button {

    }
}

@media (min-width: 515px) {
    .txn-table-header {
        font-size: unset;
    }
    .txn-table-row {
        font-size: unset;
    }
}