
<div class="video-container">
    <video playsinline autoplay loop muted class="video-element-video video-large" muted="" autoplay="" loop="" src="{{ static_path }}static/video/motivation.mp4" type="video/mp4"></video>

  <div class="video-element-overlay">
    <div class="video-element-description">
      <img class="video-element-title" src="{{ static_path }}static/logos/motivation_logo.png">
      {{ translations['live baccarat'][session['lang']] }}
    </div>
  </div>

</div>




  <p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>

