<meta charset="utf-8">
<body style="
    font-family: Futura, sans-serif;
    background-color: #332a34;
    color: #198754;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0px;
    " xmlns="http://www.w3.org/1999/html">
<!--    <div class="navbar navbar-expand-md navbar-dark bg-dark" id="top_bar" style="">-->
        <div style="display: flex;background: #252027!important;">
            <!-- LOGO -->
            <div style="
                /* background: #252027!important; */
                height: 34px;
                margin: 0 auto 0 auto;
            ">
                <a href="https://gambits.vip" style="
                top: 3px;
                position: relative;
            ">
                <img src="http://192.168.1.107:5000/static/logos/favicon.png" id="main-icon" style="
                    height: 23px;
                    padding-left: 2px;
                ">
                <img src="http://192.168.1.107:5000/static/logos/gambits_logo.png" class="main-logo" style="height: 20px;">
                </a>
            </div>

            <!-- SOCIALS (Desktop) -->
            <div style="right: 7px;position: fixed;top: 7px;">
<!--                <a href="https://discord.gg/ebjsys6h">-->
<!--                    <i class="bi bi-discord" style="color: #1a8754;"></i>-->
<!--                </a>-->
                <a href="https://twitter.com/cryptoraiderio">
                    <svg xmlns="http://www.w3.org/2000/svg" style="color: #1a8754;" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                      <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path>
                    </svg>
                </a>
            </div>
        </div>
<!--    </div>-->
    <br><br>
    <div style="font-size: large;">
        <p>{{ translations['email-reset-pass'][session['lang']] }}</p>
        <p>
            </p>
                <a href="{{ confirm_url }}" type="submit" class="btn btn-outline-success" style="
                    font-size: x-large;
                    color: greenyellow;
                    text-shadow: 2px 4px black;
                    display: inline-block;
                    font-weight: 400;
                    line-height: 1.5;
                    /* color: #212529; */
                    text-align: center;
                    text-decoration: none;
                    vertical-align: middle;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    user-select: none;
                    background-color: transparent;
                    border: 1px solid #1a8754;
                    padding: 0.375rem 0.75rem;
                    /* font-size: 1rem; */
                    border-radius: 0.25rem;
                    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                ">
                    {{ translations['reset password'][session['lang']] }}
                </a>
        <br>
        <p>{{ translations['thank you'][session['lang']] }}</p>
    </div>
</body>