<!doctype html>
<html lang="{{ lang }}">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="Gambit's Casino">
        <meta property="og:type" content="website">
        {% if session['env'] == 'stage' %}
        <meta property="og:url" content="https://stage.gambits.vip">
        <meta property="og:image" content="https://stage.gambits.vip/static/logos/favicon.png">
        {% else %}
        <meta property="og:url" content="https://gambits.vip">
        <meta property="og:image" content="https://gambits.vip/static/logos/favicon.png">
        {% endif %}
        <meta property="og:description" content="WAGMI 4 life">
        <meta name="twitter:title" content="Gambit's Casino">
        <meta name="twitter:description" content="WAGMI 4 life">
        <meta name="twitter:image" content="https://stage.gambits.vip/static/promos/referral_bonus.png">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@gambitsvip">
        <meta name="twitter:creator" content="@gambitsvip">

        <meta id="meta-translations" data-name='{{ translations|tojson|safe }}' >
        <meta id="meta-lang" data-name='{{ session["lang"] }}' >
        <meta id="meta-page" data-name='{{ session["page"] }}' >
        <meta id="meta-notify" data-name='{{ session["notify"] }}' >
<!--        <meta id="meta-socials" data-name='{{ session["socials"] }}' >-->
<!--        <meta id="meta-session" data-name='{{ session|tojson|safe }}' >-->
        <title>Gambit's</title>

                  <!-- Jquery -->
<!--        <script language="JavaScript" type="text/javascript" src="{{ root_path }}static/bootstrap/jquery-3.6.0.min.js"></script>-->
<!--        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>-->
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<!--        <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>-->

        <!-- Bootstrap core  -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">


<!--        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
<!--        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->

<!--        Metamask-->
<!--        <script src="https://unpkg.com/@metamask/detect-provider/dist/detect-provider.min.js"></script>-->
        <script src="https://c0f4f41c-2f55-4863-921b-sdk-docs.github.io/cdn/metamask-sdk.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.4-rc.1/web3.min.js"></script>

<!--        Country code CSS-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/css/intlTelInput.css">

<!-- Custom styles for this template -->
        <link  type="text/css" href="{{ url_for('static', filename='nav.css') }}" rel="stylesheet">
        <link  type="text/css" href="{{ url_for('static', filename='btn.css') }}" rel="stylesheet">
        <link  type="text/css" href="{{ url_for('static', filename='modal.css') }}" rel="stylesheet">
        <link  type="text/css" href="{{ url_for('static', filename='topbot_bar.css') }}" rel="stylesheet">
        <link  type="text/css" href="{{ url_for('static', filename='video_element.css') }}" rel="stylesheet">
        <link  type="text/css" href="{{ url_for('static', filename='gallery.css') }}" rel="stylesheet">
        <link  type="text/css" href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet">
        <link  type="text/css" href="{{ url_for('static', filename='dropdown.css') }}" rel="stylesheet">
        <link  type="text/css" href="{{ url_for('static', filename='txnhistory.css') }}" rel="stylesheet">
        <link  type="text/css" href="{{ url_for('static', filename='gamehistory.css') }}" rel="stylesheet">
        <link  type="text/css" href="{{ url_for('static', filename='responsive.css') }}" rel="stylesheet">
        <link  type="text/css" href="{{ url_for('static', filename='grid-pattern.css') }}" rel="stylesheet">
<!--        <link  type="text/css" href="{{ url_for('static', filename='spinner-circle.css') }}" rel="stylesheet">-->
        <link  type="text/css" href="{{ url_for('static', filename='otp.css') }}" rel="stylesheet">
<!--        <link  type="text/css" href="{{ url_for('static', filename='calendar.css') }}" rel="stylesheet">-->
<!--        Country codes-->
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/intlTelInput.min.js"></script>
        <!--   Icons -->
        <link rel="icon" type="image/x-icon" href="{{ root_path }}static/logos/favicon.png">
<!--          <link rel="stylesheet" href="{{ root_path }}static/fontawesome/css/brands.css">-->
<!--          <link rel="stylesheet" href="{{ root_path }}static/fontawesome/css/all.css">-->
<!--        <script defer src="{{ root_path }}static/fontawesome/js/brands.js"></script>-->
<!--      <script defer src="{{ root_path }}static/fontawesome/js/solid.js"></script>-->
<!--      <script defer src="{{ root_path }}static/fontawesome/js/fontawesome.js"></script>-->

<!--        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel=”stylesheet” href=”https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css”>

        <script language="JavaScript" type="text/javascript" src="{{ root_path }}/static/js/main.js"></script>
        <script language="JavaScript" type="text/javascript" src="{{ root_path }}/static/js/ui.js"></script>
        <style>

        {% for category in icon_placement %}
            {% for k in icon_placement[category] %}
            {% set clean_k = k | replace(".", "") | replace("jpg", "")  %}
            #hover-{{ clean_k }} {
              display: none;
            }

            #launch-{{ clean_k }}:hover  {
              color: #89ce1f;
            }

            #launch-{{ clean_k }}:hover + span {
              display: block;
            }
            {% endfor %}
        {% endfor %}
        </style>

    </head>

  <body style="font-family: Futura, sans-serif; overflow: hidden;"  data-bs-root-margin="0px 0px">

    {% include 'section-topbar.html' %}
    {% include 'section-socials.html' %}

    {% if session['env'] == 'stage' %}
    <div style="position: absolute;left: 50%;color: aquamarine;font-size: xxx-large;z-index: 10;">
        STAGE
    </div>
    {% endif %}

    <main id="main-body" class="min-vh-100" data-bs-spy="scroll" data-bs-target="#navigation-bar" data-bs-smooth-scroll="true">
      {% include 'section-navbar.html' %}
      <div id="main_section">
        {% block pendingWithdraw %}{% endblock %}
        {% block search %}{% endblock %}
        {% block gamehistory %}{% endblock %}
        {% block txnHistory %}{% endblock %}
        {% block gallery %}{% endblock %}
      </div>
    </main>
    <div class="cover-bar"></div>
    <!-- MODALS -->
    {% include 'modal-rewards.html' %}
    {% include 'template-modals.html' %}
  </body>
      <!-- UI Javascript -->
        <script language="JavaScript" type="module" src="{{ root_path }}static/js/notification_pop.js"></script>
        <script language="JavaScript" type="text/javascript" src="{{ root_path }}/static/js/metamask_modal.js"></script>

              <!-- FOOTER -->
    <footer class="green-text-outline container-fluid footer-bg">
<!--            id="main-footer">-->
        <span class="float-end"><a class="green-text-outline" href="#">Back to top</a></span>
        <span>***THIS IS JUST A TEST SITE*** &copy; 2021-2023 Gambits Inc. &middot; <a class="green-text-outline" href="#">Privacy</a> &middot; <a class="green-text-outline" href="#">Terms</a></span>
        <!--        <font style="font-size:.5rem;">-->
        <!--          <a href="https://www.flaticon.com/free-icons/asia" title="asia icons">Asia icons created by Freepik - Flaticon</a>-->
        <!--          <a href="https://www.flaticon.com/free-icons/slot-machine" title="slot machine icons">Slot machine icons created by Freepik - Flaticon</a>-->
        <!--          <a href="https://www.flaticon.com/free-icons/roulette" title="roulette icons">Roulette icons created by smashingstocks - Flaticon</a>-->
        <!--          <a href="https://www.flaticon.com/free-icons/soccer" title="soccer icons">Soccer icons created by Freepik - Flaticon</a>-->
        <!--          <a href="https://www.flaticon.com/free-icons/dice" title="dice icons">Dice icons created by Freepik - Flaticon</a>-->
        <!--          <a href="https://www.flaticon.com/free-icons/poker-cards" title="poker cards icons">Poker cards icons created by Vectorslab - Flaticon</a>-->
        <!--          <a href="https://www.flaticon.com/free-icons/poker" title="poker icons">Poker icons created by Nikita Golubev - Flaticon</a>-->
        <!--          <a href="https://www.flaticon.com/free-icons/microphone" title="microphone icons">Microphone icons created by Freepik - Flaticon</a>-->
        <!--          <a href="https://www.flaticon.com/free-icons/heart" title="heart icons">Heart icons created by Vlad Szirka - Flaticon</a>-->
        <!--          <a href="https://www.flaticon.com/free-icons/medal" title="medal icons">Medal icons created by Vectors Market - Flaticon</a>-->
        <!--          <a href="https://www.flaticon.com/free-icons/sport" title="sport icons">Sport icons created by Jesus Chavarria - Flaticon</a>-->
        <!--          <a href="https://www.flaticon.com/free-icons/baccarat" title="baccarat icons">Baccarat icons created by Freepik - Flaticon</a>-->
        <!--        </font>-->
    </footer>


</html>


