
<div class="container video-container-parent">

<!--motivation gaming-->
  <div class="video-container-wide">

    <div>
      <video playsinline autoplay loop muted class="video-element-video-wide" muted="" autoplay="" loop="" src="{{ static_path }}static/video/motivation.mp4#t=0.01" type="video/mp4"></video>
    </div>
    <div class="video-element-overlay-wide">
      <div class="video-element-description-wide">
        <img class="video-element-logo-wide" src="{{ static_path }}static/logos/motivation_logo.png">
        <div class="video-element-title">{{ translations['live baccarat'][session['lang']] }}</div>
      </div>

      <button class="btn btn-outline-success video-element-button-wide video-element-title" data-bs-toggle="modal" data-bs-target="#loginModal">
        <div >{{ translations['playnow'][session['lang']] }}</div>
      </button>
    </div>

  </div>

  <!--yaxing gaming-->
  <div class="video-container-wide">

    <div>
      <video playsinline autoplay loop muted class="video-element-video-wide" muted="" autoplay="" loop="" src="{{ static_path }}static/video/yaxing.mp4#t=0.5" type="video/mp4"></video>
    </div>
    <div class="video-element-overlay-wide">
      <div class="video-element-description-wide">
        <img class="video-element-logo-wide" src="{{ static_path }}static/logos/yaxing_logo.png">
        <div class="video-element-title">{{ translations['live baccarat'][session['lang']] }}</div>
      </div>

      <button class="btn btn-outline-success video-element-button-wide video-element-title" data-bs-toggle="modal" data-bs-target="#loginModal">
        <div >{{ translations['playnow'][session['lang']] }}</div>
      </button>
    </div>

  </div>


  <div class="video-container-narrow">
    <div>
      <video playsinline autoplay loop muted class="video-element-video-narrow" muted="" autoplay="" loop="" src="{{ static_path }}static/video/motivation.mp4" type="video/mp4"></video>
    </div>
    <div class="video-element-overlay-narrow">
      <div class="video-element-description-narrow">
        <img class="video-element-logo-narrow" src="{{ static_path }}static/logos/motivation_logo.png">
        <div class="video-element-title">{{ translations['live baccarat'][session['lang']] }}</div>
        <button class="btn btn-outline-success video-element-button-narrow video-element-title" data-bs-toggle="modal" data-bs-target="#loginModal">
        <div >{{ translations['playnow'][session['lang']] }}</div>
      </button>
      </div>


    </div>

  </div>
</div>

