<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
        <meta property="og:title" content="Gambit's Casino">
        <meta property="og:image" content="https://e453-2001-b011-2000-1b64-8142-36d-32da-83e6.ngrok-free.app/static/logos/favicon.png">
        <meta property="og:description" content="WAGMI 4 life">

        <meta name="twitter:title" content="Gambit's Casino">
        <meta name="twitter:description" content="WAGMI 4 life">
<!--                <meta name="twitter:image" content="https://pbs.twimg.com/media/F3vvokVakAA6KFf?format=webp&name=medium">-->
        <meta name="twitter:image" content="https://e453-2001-b011-2000-1b64-8142-36d-32da-83e6.ngrok-free.app/static/promos/referral_bonus.png">
<!--                <meta name="twitter:image" content="https://stage.gambits.vip/static/promos/referral_bonus.png">-->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@gambitsvip">
        <meta name="twitter:creator" content="@gambitsvip">
<!--</head>-->
<!--</html>-->