{% if current_user.is_authenticated %}

<!--        Country codes-->
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/intlTelInput.min.js"></script>


<!-- Rewards popup -->
<div class="modal fade" id="rewardsModal" tabindex="-1" role="dialog" aria-labelledby="rewardsModalWindow" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" id="rewardsModalWindow">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title neon">{{ translations['bonus rewards:title'][session['lang']] }}</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >

                <div class="green-text mb-2" style="text-align: center;">{{ translations['bonus rewards:desc'][session['lang']] }}</div>
                <div class="d-flex modal-divider-horz"><div class="vr"></div></div>

                <h5 class="modal-title med-excited-text mt-3">{{ translations['signup bonus:title'][session['lang']] }}</h5>
                <div class="green-text mb-2" style="text-align: left;">{{ translations['signup bonus:desc long'][session['lang']] }}</div>

                <table class="table table-sm list-group mb-2" onclick="snb_table_click();">
                    <tr>
                      <td id="snb-row-sms" class="list-group-item signup-task bg-dark excited-text" style="background-color: #9fb4aa;">
                          {% if current_user.snb_phone %}
                            <i class="bi bi-check-square-fill" style="color: green;"></i>
                            {{ translations['snb:task:sms'][session['lang']] }}
                          {% else %}
                            <i id="snb-phone-status" class="bi bi-exclamation-square-fill" style="color: #ff00009e;"></i>
                            {{ translations['snb:task:sms'][session['lang']] }}
                            <i class="bi bi-chevron-right" style="right: 15px;position: absolute; transition: all 300ms;"></i>
                          {% endif %}
                      </td>
                    </tr>
                    {% if not current_user.snb_phone %}
                    <tr>
                        <td class="" style="padding: 0;border: none;">
                            <div id='span-snb-phone' class="rowDrop signup-task-drop">
                                <div style="display: flow-root;">
                                    <div id="snb-sms-container">
                                        <div class='green-text-outline'>{{ translations['sms verify'][session['lang']] }}</div>
                                        <div class="pt-2" style="display: flex;">
                                            <input type="tel" id="mobile_code" class="form-control" placeholder="Phone number">
                                            <button id="sms-send-button" type="button" class="btn btn-outline-success"><i class="bi bi-send"></i></button>
                                        </div>
                                    </div>
                                    <div id="sms-rowDrop">
                                        <div class='green-text-outline pt-2'>{{ translations['sms enter code'][session['lang']] }}</div>
                                        <div class="mt-2 mb-2" style="display: flex;height: 40px;float: right;">
                                            <input id="sms-digitfield-first" type="text" autocomplete="one-time-code" inputmode="numeric" maxlength="4" pattern="\d{4}">

<!--                                            <input id="sms-digitfield-first" type="text" class="sms-digitfield" maxlength="1" pattern="[0-9]" tabindex= "0">-->
<!--                                            <input type="text" class="sms-digitfield" maxlength="1" pattern="[0-9]" tabindex= "0">-->
<!--                                            <input type="text" class="sms-digitfield" maxlength="1" pattern="[0-9]" tabindex= "0">-->
<!--                                            <input type="text" class="sms-digitfield" maxlength="1" pattern="[0-9]" tabindex= "0">-->
                                            <button id="snb-sms-verify" onclick="verify_sms_code()" type="button" class="btn btn-outline-success">{{ translations['verify'][session['lang']] }}</button>
                                        </div>
                                    </div>
                                </div>

                                <script>
                                    if (typeof iti !== 'undefined'){
                                        iti.destroy();

                                    } else {
                                        let iti;
                                    }



                                    $(document).ready(function(){
                                        $('#sms-send-button').click(function(){
                                            $('#sms-digitfield-first').focus();
                                            send_sms()

                                        });

                                        $('#rewardsModal').on('hide.bs.modal', function(){
                                            $(".bi-chevron-right").each(function() {
                                                $(this).css("transform","rotate(0deg)")
                                            });

                                            $(".signup-task-drop").each(function() {
                                                $(this).slideUp()
                                            });

                                            $("#sms-rowDrop").slideUp()
                                            $("#snb-sms-container").slideDown()
                                            $("#mobile_code").val("")
                                            $('#sms-digitfield-first').val("")

                                            $("#copy-button").html('<i class="bi bi-clipboard"></i> {{ translations["copy"][session["lang"]] }}');
                                        });

                                        $(".sms-digitfield").keyup(function () {
                                            if (this.value.length == this.maxLength) {
                                              $(this).next('.sms-digitfield').focus();
                                            }
                                        });


                                        <!-- Country Code Selection-->
                                        iti = window.intlTelInput(document.getElementById("mobile_code"), {
                                            initialCountry: "{{ session['country'] }}",
                                           formatOnDisplay: false,
                                           nationalMode: false,
                                           autoPlaceholder: 'aggressive',
                                           separateDialCode: true,
<!--                                       preferredCountries: ['BR', 'CN', 'FR', 'HK', 'IN', 'ID', 'JP', 'KR', 'MX', 'PH', 'ES', 'TH', 'VN']-->
                                           preferredCountries: false,
                                           utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/utils.js?1690975972744"
                                        });

<!--                                        $("table").on('click', function(){-->
<!--                                            snb_table_click()-->
<!--                                        });-->


                                    });

                                </script>

                            </div>
                        </td>
                    </tr>
                    {% endif %}

                   <tr>
                        <td id="snb-row-twitter" class="list-group-item signup-task bg-dark excited-text" style="background-color: #9fb4aa;">
                          {% if current_user.snb_twitter %}
                            <i class="bi bi-check-square-fill" style="color: green;"></i>
                            {{ translations['snb:task:twitter'][session['lang']] }}
                          {% else %}
                            <i class="bi bi-exclamation-square-fill" style="color: #ff00009e;"></i>
                            {{ translations['snb:task:twitter'][session['lang']] }}
                            <i class="bi bi-chevron-right" style="right: 15px;position: absolute; transition: all 300ms;"></i>
                          {% endif %}
                        </td>
                   </tr>
                   {% if not current_user.snb_twitter %}
                   <tr>
                        <td class="" style="padding: 0;border: none;">
                            <div id='span-snb-twitter' class="rowDrop signup-task-drop">
                                <div style="display: flow-root;">
                                    <div>
<!--                                        <div class='green-text-outline'>1. {{ translations['snb:subtask:twt'][session['lang']] }}</div>-->
                                        <div class="pt-2" style="display: flex;">
                                            <button id="snb-connect-twitter" class="btn btn-outline-success" onclick="ajax_connect_twitter();">
                                                <img src="static/logos/Twitter X.svg" class="svg-filter-excited" style="height: 13px;margin: 0 0 3px 2px;filter: invert(99%) sepia(0%) saturate(7498%) hue-rotate(249deg) brightness(102%) contrast(102%);"> {{ translations['snb:subtask:twt'][session['lang']] }}
                                            </button>
                                        </div>
                                    </div>
                                    <div id="snb-retweet">
                                        <div class='green-text-outline pt-2'>{{ translations['sms enter code'][session['lang']] }}</div>
                                        <div class="mt-2 mb-2" style="display: flex;height: 40px;float: right;">
                                            <input id="sms-digitfield-first" type="text" autocomplete="one-time-code" inputmode="numeric" maxlength="4" pattern="\d{4}">

<!--                                            <input id="sms-digitfield-first" type="text" class="sms-digitfield" maxlength="1" pattern="[0-9]" tabindex= "0">-->
<!--                                            <input type="text" class="sms-digitfield" maxlength="1" pattern="[0-9]" tabindex= "0">-->
<!--                                            <input type="text" class="sms-digitfield" maxlength="1" pattern="[0-9]" tabindex= "0">-->
<!--                                            <input type="text" class="sms-digitfield" maxlength="1" pattern="[0-9]" tabindex= "0">-->
                                            <button id="snb-sms-verify" onclick="verify_sms_code()" type="button" class="btn btn-outline-success">{{ translations['verify'][session['lang']] }}</button>
                                        </div>
                                    </div>
                                </div>

                                <script>
                                    $(document).ready(function(){
                                        $('#snb-connect-twitter').click(function(){
                                            $('#loadingscreenModal').modal('show');

                                        });
                                    });

                                </script>

                            </div>
                        </td>
                   </tr>
                    {% endif %}


<!--                    /////////-->




                    <tr>
                      <td class="list-group-item signup-task bg-dark excited-text" style="background-color: #9fb4aa;">
                          {% if current_user.snb_discord %}
                            <i class="bi bi-check-square-fill" style="color: green;"></i>
                            {{ translations['snb:task:discord'][session['lang']] }}
                          {% else %}
                            <i class="bi bi-exclamation-square-fill" style="color: #ff00009e;"></i>
                            {{ translations['snb:task:discord'][session['lang']] }}
                            <i class="bi bi-chevron-right" style="right: 15px;position: absolute;"></i>
                          {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td class="list-group-item signup-task bg-dark excited-text" style="background-color: #9fb4aa;">
                          {% if current_user.snb_easter %}
                            <i class="bi bi-check-square-fill" style="color: green;"></i>
                            {{ translations['snb:task:egg'][session['lang']] }}
                          {% else %}
                            <i class="bi bi-exclamation-square-fill" style="color: #ff00009e;"></i>
                            {{ translations['snb:task:egg'][session['lang']] }}
                            <i class="bi bi-chevron-right" style="right: 15px;position: absolute;"></i>
                          {% endif %}
                      </td>
                    </tr>
                    <tr>
                        <td class="list-group-item signup-task bg-dark excited-text" style="background-color: #9fb4aa;">
                          {% if current_user.snb_totalbet < 100 %}
                            <i class="bi bi-check-square-fill" style="color: green;"></i>
                            {{ translations['snb:task:play100'][session['lang']] }}
                          {% else %}
                            <i class="bi bi-exclamation-square-fill" style="color: #ff00009e;"></i>
                            {{ translations['snb:task:play100'][session['lang']] }}
                            <i class="bi bi-chevron-right" style="right: 15px;position: absolute;"></i>
                          {% endif %}
                        </td>
                  </tr>
                </table>

                <a class="mb-3" href="https://blog.gambits.vip" target="_blank">{{ translations['signup bonus:link'][lang] }}</a>


                <div class="d-flex modal-divider-horz mt-3"><div class="vr"></div></div>

                <h5 class="modal-title med-excited-text mt-4">{{ translations['rewards:5050'][session['lang']] }}</h5>
                <div class="green-text mb-2" style="text-align: left;">{{ translations['rewards:description'][session['lang']] }}</div>
                <div class="modal-top-row mb-2">
                    <button id="copy-button" onclick="copyToClipboard('https://gambits.vip?ref={{ current_user.username }}');" type="button" class="btn btn-outline-success symbol-text"><i class="bi bi-clipboard"></i> {{ translations['copy'][session['lang']] }}</button>
                    <button onclick="copyToClipboard('https://gambits.vip?ref={{ current_user.username }}');" type="button" class="btn btn-link">https://gambits.vip?ref={{ current_user.username }}</button>
                        <textarea id="value-clipboard"  tabindex='-1' aria-hidden='true' style="z-index: -10000; position: absolute; left: -9999px;"></textarea>
                </div>
                <div class="green-text excited-text" style="text-align: left;">{{ translations['rewards:description bold'][session['lang']] }}</div>


            </div>
        </div>
    </div>
</div>

{% endif %}
