{% if current_user.is_authenticated %}

<!--        Country codes-->
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/intlTelInput.min.js"></script>


<!-- Rewards popup -->
<div class="modal fade" id="rewardsModal" tabindex="-1" role="dialog" aria-labelledby="rewardsModalWindow" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" id="rewardsModalWindow">
        <div class="modal-content" style="position: absolute;">
            <div class="modal-header">
                <h3 class="modal-title neon">{{ translations['bonus rewards:title'][session['lang']] }}</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="reward-modal-body" class="modal-body" style="overflow-y: auto;">

                <div class="green-text mb-2" style="text-align: center;">{{ translations['bonus rewards:desc'][session['lang']] }}</div>
                <div class="d-flex modal-divider-horz"><div class="vr"></div></div>

                <h5 class="modal-title med-excited-text mt-3">{{ translations['signup bonus:title'][session['lang']] }}</h5>
                <div class="green-text mb-2" style="text-align: left;">{{ translations['signup bonus:desc long'][session['lang']] }}</div>
                <a class="mb-3" href="https://blog.gambits.vip" target="_blank">{{ translations['signup bonus:link'][lang] }}</a>

                <div class="accordion accordion-flush" id="rewardsAccordion">
                  <div class="signup-task accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed excited-text" type="button" data-bs-toggle="
                        {% if current_user.snb_phone %}
                            collapse
                        {% endif %}
                            " data-bs-target="#flush-collapse1">
                        {% if current_user.snb_phone %}
                            <i class="bi-check-square-fill" style="color: green;"></i>
                            {{ translations['snb:task:sms'][session['lang']] }}
                        {% else %}
                            <i id="snb-phone-status" class="bi bi-x-square-fill" style="color: #ff5f5f;"></i>
                            {{ translations['snb:task:sms'][session['lang']] }}
                        {% endif %}
                      </button>
                    </h2>
                    <div id="flush-collapse1" class="accordion-collapse collapse" data-bs-parent="#rewardsAccordion">
                      <div class="accordion-body">
                          <div id='span-snb-phone' class="signup-task-drop">
                            <div style="display: flow-root;">
                                <div id="snb-sms-container">
                                    <div class='green-text-outline'>{{ translations['sms verify'][session['lang']] }}</div>
                                    <div class="pt-2" style="display: flex;">
                                        <input type="tel" id="mobile_code" class="form-control" placeholder="Phone number">
                                        <button onclick="send_sms();" id="sms-send-button" type="button" class="btn btn-outline-success"><i class="bi bi-send"></i></button>
                                    </div>
                                </div>
                                <div id="sms-rowDrop">
                                    <div class="green-text-outline pt-2">{{ translations['sms enter code'][session['lang']] }}</div>
                                    <div class="mt-2 mb-2" style="display: flex;height: 40px;">
                                        <input id="sms-digitfield-first" type="text" autocomplete="one-time-code" inputmode="numeric" maxlength="4" pattern="\d{4}">
                                        <button id="snb-sms-verify" onclick="verify_sms_code()" type="button" class="btn btn-outline-success">{{ translations['verify'][session['lang']] }}</button>
                                    </div>
                                </div>
                            </div>
                            <script>
                                $(document).ready(function(){
                                    $('#sms-send-button').click(function(){
<!--                                        $('#sms-digitfield-first').focus();-->
                                        });

                                    $('#rewardsModal').on('hide.bs.modal', function(){
<!--                                        $(".bi-chevron-right").each(function() {-->
<!--                                            $(this).css("transform","rotate(0deg)")-->
<!--                                        });-->

                                        $(".signup-task-drop").each(function() {
                                            $(this).slideUp()
                                        });

                                        $("#sms-rowDrop").slideUp()
                                        $("#snb-sms-container").slideDown()
                                        $("#mobile_code").val("")
                                        $('#sms-digitfield-first').val("")

                                        $("#copy-button").html('<i class="bi bi-clipboard"></i> {{ translations["copy"][session["lang"]] }}');
                                    });

                                    $(".sms-digitfield").keyup(function () {
                                        if (this.value.length == this.maxLength) {
                                          $(this).next('.sms-digitfield').focus();
                                        }
                                    });


                                    if (typeof iti !== 'undefined'){
                                        iti.destroy();
                                    } else {
                                        let iti;
                                    }
                                    <!-- Country Code Selection-->
                                    iti = window.intlTelInput(document.getElementById("mobile_code"), {
                                        initialCountry: "{{ session['country'] }}",
                                       formatOnDisplay: false,
                                       nationalMode: false,
                                       autoPlaceholder: 'aggressive',
                                       initialCountry: "auto",
                                       geoIpLookup: callback => {
                                           fetch("https://ipapi.co/json")
                                              .then(res => res.json())
                                              .then(data => callback(data.country_code))
                                              .catch(() => callback("us"));
                                       },
                                       separateDialCode: true,
<!--                                       preferredCountries: ['BR', 'CN', 'FR', 'HK', 'IN', 'ID', 'JP', 'KR', 'MX', 'PH', 'ES', 'TH', 'VN'],-->
<!--                                       preferredCountries: false,-->
                                       utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/utils.js?1690975972744"
                                    });
                                });
                </script>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="signup-task accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed excited-text" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">
                          {% if current_user.snb_twitter %}
                            <i class="bi-check-square-fill" style="color: green;"></i>
                            {{ translations['snb:task:twitter'][session['lang']] }}
                          {% elif current_user.snb_twitter_url %}
                            <i class="bi-exclamation-square-fill" style="color: yellow;"></i>
                            {{ translations['snb:task:twitter'][session['lang']] }}
                          {% else %}
                            <i id="snb-twitter-status" class="bi-x-square-fill" style="color: #ff5f5f;"></i>
                            {{ translations['snb:task:twitter'][session['lang']] }}
                          {% endif %}
                      </button>
                    </h2>
                    <div id="flush-collapse2" class="accordion-collapse collapse" data-bs-parent="#rewardsAccordion">
                      <div class="accordion-body">
                        <div id='span-snb-twitter' class="signup-task-drop">
                            <div style="display: flow-root;">
                                <div>
                                    <div class='green-text-outline'>1. {{ translations['snb:subtask:twt'][session['lang']] }}</div>
                                    <div class="pt-2" style="display: flex;">
                                        <a target="_blank" id="snb-shareTweet" class="btn btn-outline-success green-text" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fgambits.vip&text={{ translations['urlencode:tweet'][session['lang']] }}%0A%0A{{ translations['urlencode:tweet2'][session['lang']] }}%0A%0A{{ translations['urlencode:tweet3'][session['lang']] }}%0A%0A">
                                            <img src="static/logos/twitterX.svg" class="svg-twitter-logo" style="height: 15px;margin: 0 0 3px 2px;"> {{ translations['snb:subtask:twt:shareTweet'][session['lang']] }}
                                        </a>
                                    </div>
                                    <div class='green-text-outline pt-2'>2. <a href="https://twitter.com/gambitsvip">{{ translations['snb:subtask:twt2'][session['lang']] }} <img src="static/logos/twitterX.svg" class="svg-twitter-logo" style="height: 13px;margin: 0 0 3px 2px;filter: invert(38%) sepia(75%) saturate(480%) hue-rotate(100deg) brightness(93%) contrast(85%);"></a></div>
                                    <div class='green-text-outline pt-2'>3. {{ translations['snb:subtask:twt3'][session['lang']] }}</div>
                                    <div class="pt-2" style="display: flex;">
                                        <input id="tweet-url" class="form-control" placeholder="{{ current_user.snb_twitter_url }}"/>
                                        <button onclick="ajax_submit_tweet_url()" class="btn btn-outline-success" id="submit-tweet-url"><i class="bi bi-send"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="signup-task accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed excited-text" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse6">
                        {% if current_user.snb_discord %}
                            <i class="bi-check-square-fill" style="color: green;"></i>
                            {{ translations['snb:task:discord'][session['lang']] }}
                        {% else %}
                            <i class="bi-x-square-fill" style="color: #ff5f5f;"></i>
                            {{ translations['snb:task:discord'][session['lang']] }}
<!--                            <i class="bi-chevron-right" style="right: 15px;position: absolute;"></i>-->
                        {% endif %}
                      </button>
                    </h2>
                    <div id="flush-collapse3" class="accordion-collapse collapse" data-bs-parent="#rewardsAccordion">
                      <div class="accordion-body">
                          <div class="green-text-outline">{{ translations['snb:subtask:discord'][session['lang']] }}</div>
                          <div class="pt-2" style="display: flex;">
<!--                            <button onclick="ajax_oauth_discord();" class="btn btn-outline-success"><i class="bi bi-send"></i></button>-->
                              <a href="/oauth/discord" class="btn btn-outline-success"><i class="bi bi-send"></i></a>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="signup-task accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed excited-text" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                        {% if current_user.snb_easter %}
                            <i class="bi-check-square-fill" style="color: green;"></i>
                            {{ translations['snb:task:egg'][session['lang']] }}
                        {% else %}
                            <i class="bi-x-square-fill" style="color: #ff5f5f;"></i>
                            {{ translations['snb:task:egg'][session['lang']] }}
                        {% endif %}
                      </button>
                    </h2>
                    <div id="flush-collapse4" class="accordion-collapse collapse" data-bs-parent="#rewardsAccordion">
                      <div class="accordion-body">
                          <div class="green-text-outline">3. {{ translations['snb:subtask:twt3'][session['lang']] }}</div>
                          <div class="pt-2" style="display: flex;">
                            <input id="" class="form-control"/>
                            <button onclick="ajax_submit_tweet_url()" class="btn btn-outline-success" id="submit-tweet-url"><i class="bi bi-send"></i></button>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="signup-task accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed excited-text" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
                        {% if current_user.snb_totalbet < 100 %}
                            <i class="bi-check-square-fill" style="color: green;"></i>
                            {{ translations['snb:task:play100'][session['lang']] }}
                        {% else %}
                            <i class="bi-x-square-fill" style="color: #ff5f5f;"></i>
                            {{ translations['snb:task:play100'][session['lang']] }}
                        {% endif %}
                      </button>
                    </h2>
                    <div id="flush-collapse5" class="accordion-collapse collapse" data-bs-parent="#rewardsAccordion">
                      <div class="accordion-body">
                          <div class="green-text-outline">3. {{ translations['snb:subtask:twt3'][session['lang']] }}</div>
                          <div class="pt-2" style="display: flex;">
                            <input id="" class="form-control"/>
                            <button onclick="ajax_submit_tweet_url()" class="btn btn-outline-success" id="submit-tweet-url"><i class="bi bi-send"></i></button>
                          </div>
                      </div>
                    </div>
                      </div>
                      <div class="signup-task accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed excited-text" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
                            {% if current_user.snb_totalbet < 100 %}
                                <i class="bi-check-square-fill" style="color: green;"></i>
                                {{ translations['rewards:5050'][session['lang']] }}
                            {% else %}
                                <i class="bi-x-square-fill" style="color: #ff5f5f;"></i>
                                {{ translations['rewards:5050'][session['lang']] }}
                            {% endif %}
                          </button>
                        </h2>
                        <div id="flush-collapse6" class="accordion-collapse collapse" data-bs-parent="#rewardsAccordion">
                          <div class="accordion-body">
                            <div class="green-text mb-2" style="text-align: left;">{{ translations['rewards:description'][session['lang']] }}</div>
                            <div class="modal-top-row mb-2">
                                <button id="copy-button" onclick="copyToClipboard('https://gambits.vip?ref={{ current_user.username }}');" type="button" class="btn btn-outline-success symbol-text"><i class="bi bi-clipboard"></i> {{ translations['copy'][session['lang']] }}</button>
                                <button onclick="copyToClipboard('https://gambits.vip?ref={{ current_user.username }}');" type="button" class="btn btn-link">https://gambits.vip?ref={{ current_user.username }}</button>
                                    <textarea id="value-clipboard"  tabindex='-1' aria-hidden='true' style="z-index: -10000; position: absolute; left: -9999px;"></textarea>
                            </div>
                            <div class="green-text excited-text" style="text-align: left;">{{ translations['rewards:description bold'][session['lang']] }}</div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
