<div class="navbar-expand-md navbar-dark bg-dark nav-bar-selector fixed-top fixed-middle" id="middle_bar">
    <a class="nav-link active-link" aria-current="page" href="/sports">
      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/heart.png"><br>
      Favorites
    </a>
    <a class="nav-link game-show" aria-current="page" href="/">
      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/medal.png"><br>
      Top Games
    </a>
    <a class="nav-link" aria-current="page" href="/sports">
      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/sports.png"><br>
      Sports
    </a>
    <a class="nav-link" aria-current="page" href="/slots">
      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/007-gambler.png"><br>
      Slots
    </a>
    <a class="nav-link" aria-current="page" href="/baccarat">
      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/baccarat.png"><br>
      Baccarat
    </a><br>
    <a class="nav-link" aria-current="page" href="/roulette">
      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/005-casino-roulette.png"><br>
      Roulette
    </a>
    <a class="nav-link" aria-current="page" href="/blackjack">
      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/003-poker-cards.png"><br>
      Blackjack
    </a>
    <a class="nav-link" aria-current="page" href="/dice">
      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/004-dice.png"><br>
      Dice
    </a>
    <a class="nav-link" aria-current="page" href="/poker">
      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/002-poker.png"><br>
      Poker
    </a>
    <a class="nav-link game-show" aria-current="page" href="/game_shows">
      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/game_shows.png"><br>
      Game Shows
    </a>
</div>
