<div class="navbar-expand-md bg-dark nav-bar-selector fixed-middle" id="middle_bar">
<!--    <a class="nav-link active-link" aria-current="page" href="/sports">-->
<!--      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/heart.png"><br>-->
<!--      Favorites-->
<!--    </a>-->
<!--    <a class="nav-link game-show" aria-current="page" href="/">-->
<!--      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/medal.png"><br>-->
<!--      Top Games-->
<!--    </a>-->
<!--    <a class="nav-link" aria-current="page" href="/sports">-->
<!--      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/sports.png"><br>-->
<!--      Sports-->
<!--    </a>-->
    <a class="nav-link" id="nav1" onClick="reply_click(this.id)">
      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/slots.png"><br>
      Slots
    </a>
    <a class="nav-link" id="nav2" onClick="reply_click(this.id)">
      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/baccarat.png"><br>
      Baccarat
    </a>
    <a class="nav-link" id="nav3" onClick="reply_click(this.id)">
      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/fish.png"><br>
      Fishing
    </a>
    <a class="nav-link" id="nav4" onClick="reply_click(this.id)">
      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/arcade.png"><br>
      Arcade
    </a>
    <a class="nav-link" id="nav5" onClick="reply_click(this.id)">
      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/dice.png"><br>
      PvP
    </a>

    <script>
        const yOffset = -170;

        function reply_click(clicked_id){
            const element = document.getElementById("heading".concat(clicked_id.substr(clicked_id.length - 1)));
            const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;
<!--          alert(clicked_id);-->
<!--            var element = document.getElementById("heading".concat(clicked_id.substr(clicked_id.length - 1)));-->
<!--            element.scrollIntoView();-->
            window.scrollTo({top: y, behavior: 'smooth'});
        }

    </script>
<!--    <a class="nav-link" aria-current="page" href="/roulette">-->
<!--      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/005-casino-roulette.png"><br>-->
<!--      Roulette-->
<!--    </a>-->
<!--    <a class="nav-link" aria-current="page" href="/blackjack">-->
<!--      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/003-poker-cards.png"><br>-->
<!--      Blackjack-->
<!--    </a>-->
<!--    <a class="nav-link" aria-current="page" href="/dice">-->
<!--      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/004-dice.png"><br>-->
<!--      Dice-->
<!--    </a>-->
<!--    <a class="nav-link" aria-current="page" href="/poker">-->
<!--      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/002-poker.png"><br>-->
<!--      Poker-->
<!--    </a>-->
<!--    <a class="nav-link game-show" aria-current="page" href="/game_shows">-->
<!--      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/game_shows.png"><br>-->
<!--      Game Shows-->
<!--    </a>-->
</div>
