{% extends "layout.html" %}
{% block gamehistory %}

<div class="py-2" style="margin-left: 5%;">
    <h3 class="green-text-outline">Gaming History</h3>
    <div class="justify-content-center" style="width: 200px;">
        <div class="input-group mb-3">
            <span class="input-group-text whiteFont">Date</span>
            <input id="reportDateGameHistory" class="form-control" type="date" value="{{ report_date }}"/>
            <h8 class="green-text-outline">*Timezone is UTC-4</h8>
        </div>

    </div>
    <h5 class="green-text-outline"><div id="num_results" style="display: inline;">{{ rec|length }}</div> results</h5>

</div>

<script>
<!--    function open_calendar(e){-->
<!--        e.preventDefault()-->
<!--        alert('hi')-->
<!--    }-->

    $(document).ready(function(){

<!--        Do this part on load -->
<!--        generate_table(JSON.parse('{{ rec }}'));-->
<!--        -->
        $("td[colspan=12]").find("p").hide();
        $("table").click(function(event) {
            event.stopPropagation();
            var $target = $(event.target);
            if ( $target.closest("td").attr("colspan") > 1 ) {
                $target.slideUp();
                $target.closest("tr").next().find("div").slideToggle();

            } else {
                $target.closest("tr").next().find("div").slideToggle();

            }
        });

        const selectElement = document.getElementById('reportDateGameHistory');
        selectElement.addEventListener("change", (event) => {
            $.ajax({
                url: "/gameHistory",
                type: "post",
                dataType: "json",
                contentType: "application/json; charset=UTF-8",
                data: JSON.stringify({
                    "reportDate":selectElement.value
                }),
                success: function(self) {
                    $("#main_section").html(self.render);

                },
                error: function(e) {
                    console.log('gamehistory: '+ e);
                }
            });
        });
        function generate_table(results) {
            if (typeof results == 'undefined') {
                htmloutput = "<div class=\"green-text-outline\">No data</div>";
            } else {
                for (let i = 0; i < results.length; i++) {
                    htmloutput = htmloutput + "<tr>";
                    htmloutput = htmloutput + "<td>" + results[i]["endroundtime"].substring(11, 19) + "</td>";
                    htmloutput = htmloutput + "<td>" + results[i]["status"] + "</td>";
                    htmloutput = htmloutput + "<td>" + results[i]["gametype"] + "</td>";
                    htmloutput = htmloutput + "<td>" + results[i]["gamecode"] + "</td>";
                    htmloutput = htmloutput + "<td>" + results[i]["round"] + "</td>";
                    htmloutput = htmloutput + "<td>" + results[i]["bet"] + "</td>";
                    htmloutput = htmloutput + "<td>" + results[i]["win"] + "</td>";
<!--                    htmloutput = htmloutput + "<td>" + results[i]["validbet"] + "</td>";-->
<!--                            htmloutput = htmloutput + "<td>" + results[i]["jackpot"] + "</td>";-->
<!--                            htmloutput = htmloutput + "<td>" + results[i]["jackpotcontribution"] + "</td>";-->
                    htmloutput = htmloutput + "<td>" + results[i]["rake"] + "</td>";
<!--                            htmloutput = htmloutput + "<td>" + results[i]["roomfee"] + "</td>";-->
                            htmloutput = htmloutput + "</tr><tr><td colspan=\"12\" style=\"padding: 0px;\"><div class=\"rowDrop\">Detail:" + results[i]["detail"] + "<br>Result:" + results[i]["gameresult"] + "</div></td></tr>";
                };
            }
            document.getElementById("results").innerHTML = htmloutput;
        }
    });

</script>

<table id="data" class="table table-hover table-dark profile-container green-text-outline">
    <thead>
      <tr>
        <th>Time</th>
        <th>Status</th>
        <th>Type</th>
        <th>Gamename</th>
        <th>Round</th>
        <th>Bet</th>
        <th>Win</th>
<!--        <th>Valid Bet</th>-->
<!--        <th>Jackpot</th>-->
<!--        <th>JackContribution</th>-->
        <th>Rake</th>
<!--        <th>Room Fee</th>-->
      </tr>
    </thead>
    <tbody id="results">
      {% for record in rec %}
        <tr>
          <td>{{ record.endroundtime.split('T')[1]|truncate(8, True, '', 0) }}</td>
          <td>{{ record.status }}</td>
          <td>{{ record.gametype }}</td>
            <td>{{ record.gamecode }}</td>
            <td>{{ record.round }}</td>
            <td>{{ record.bet }}</td>
            <td>{{ record.win }}</td>
<!--            <td>{{ record.validbet }}</td>-->
<!--          <td>{{ record.jackpot }}</td>-->
<!--          <td>{{ record.jackpotcontribution }}</td>-->
            <td>{{ record.rake }}</td>
<!--          <td>{{ record.roomfee }}</td>-->
        </tr>
<!--      Row drop-->
        <tr>
            <td colspan="12" style="padding: 0px;">
                <div class="rowDrop">

                    {% if record.gametype == 'live' %}
                    <table class="table table-bordered table-sm table-dark profile-container green-text-outline">
                        <tbody >
                            <tr>
                                <th></th>
                                <th>Player</th>
                                <th>Banker</th>
                            </tr>
                            <tr>
                                <th>Cards</th>
                                <td>
                                    {% for card in record.gameresult.cards if card.tag == 1 %}
                                    <img style="width: 60px;" src="{{ root_path }}static/icons/cards/{{ card.poker }}.svg">
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for card in record.gameresult.cards if card.tag == 2 %}
                                    <img style="width: 60px;" src="{{ root_path }}static/icons/cards/{{ card.poker }}.svg">
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Points</th>
                                <td>{{ record.gameresult.points[0] }}</td>
                                <td>{{ record.gameresult.points[1] }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% endif %}
                    <table class="table table-bordered table-sm table-dark profile-container green-text-outline">
                        <tbody>
                            <tr>
                                <th>Freegame</th>
                                <th>Lucky Draw</th>
                                <th>Bonus</th>
                                <th>Jackpot</th>
                                <th>JP Contribution</th>
                            </tr>
                            <tr>
                                {% if detail|length == 0 %}
                                    <td colspan="3">No detail data</td>
                                {% else %}
                                    {% for detail in record.detail if 'freegame' in detail %}
                                    <td>{{ detail.freegame }}</td>
                                    {% endfor %}
                                    {% for detail in record.detail if 'luckydraw' in detail %}
                                    <td>{{ detail.luckydraw }}</td>
                                    {% endfor %}
                                    {% for detail in record.detail if 'bonus' in detail %}
                                    <td>{{ detail.bonus }}</td>
                                    {% endfor %}
                                {% endif %}
                                <td>{{ record.jackpot }}</td>
                                <td>{{ record.jackpotcontribution }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
      {% endfor %}
    </tbody>


</table>
<!--    {% if num_results == 0 %}-->
<!--        <div class="green-text-outline">-->
<!--          No Data-->
<!--        </div>-->
<!--    {% endif %}-->
<!--<script language="JavaScript" type="text/javascript" src="{{ root_path }}static/js/calendar.js"></script>-->


{% endblock %}

