{% extends "layout.html" %}
{% block gallery %}


<!-- top section -->
<div id="top-section"></div>
<script>
$(function() {
    $("#top-section").load("/topSection");
});
</script>


<div id="mid-section">
    {% for category in icon_placement if category == 'top-games' %}
    <hr class="dropdown-divider" style="top: 8px; position: relative;">
    <div class="video-element-title gallery-header" id="header-top-games"><img class="gallery-header-icon" src="{{ root_path }}static/icons/navbar/{{ category }}.png"> {{ translations[category][session['lang']] }}</div>
    <div class="gallery-container">
        {% for k in icon_placement[category] %}
            {% set outer_loop = loop %}
            {% if outer_loop.index % 4 == 1 %}
                <div class="view-small">
            {% endif %}
                    <div class="med-card card shadow-sm">
                        {% for game_title in game_titles %}
                            {% if game_title['gamecode'] == k.split("_")[0] %}
                                <div class="gallery-thumb-top">
                                    <span class="badge bg-warning text-dark">#{{ outer_loop.index }}</span>
                                    <div class="top-section-icon">
                                        <img class="gallery-img" src="{{ root_path }}static/icons/cq9/{{ k }}">
                                    </div>
                                    <div class="top-games-button-overlay"></div>
                                    <div class="top-games-button-overlay-title">
                                        {% for title in game_title['nameset'] if title['lang'] == session['lang'] %}
                                        {{ title['name'] }}
                                        {% endfor %}
                                    </div>
                                </div>


                                <button id="{{ k }}" type="submit" value="{{ k }}" class="btn-outline btn gallery-btn launch"
                                    {% if current_user.is_authenticated %}
                                            name="launch" data-bs-toggle="modal" data-bs-target="#loadingscreenModal">
                                    {% else %}
                                            data-bs-toggle="modal" data-bs-target="#registerModal">
                                    {% endif %}
                                    {{ translations['playnow'][session['lang']] }}<br><br>
        <!--                                        {{ game_title['nameset']|select(lang) }}-->
                                </button>
                            {% endif %}
                        {% endfor %}
                    </div>
            {% if outer_loop.index % 4 == 0 %}
                </div>
            {% endif %}
        {% endfor %}

    </div>
    {% endfor %}

    {% for category in icon_placement if category == 'fishing' %}
    <hr class="dropdown-divider" style="top: 8px; position: relative;">
    <div class="video-element-title gallery-header" id="header-{{ category }}"><img class="gallery-header-icon" src="{{ root_path }}static/icons/navbar/{{ category }}.png">{{ translations[category][session['lang']] }}</div>
    <div class="gallery-container">
        {% for k in icon_placement[category] %}
            {% set outer_loop = loop %}
            {% if outer_loop.index % 2 == 1 %}
                <div class="view-small">
            {% endif %}
                    <div class="med-card card card-{{ category }} shadow-sm">
                        {% for game_title in game_titles %}
                            {% if game_title['gamecode'] == k.split("_")[0] %}
                                <div class="gallery-thumb-top">
    <!--                                <span class="badge bg-warning text-dark">#{{ outer_loop.index }}</span>-->
                                    <div class="top-section-icon">
                                        <img class="gallery-img" src="{{ root_path }}static/icons/cq9/{{ k }}">
                                    </div>
                                    <div class="top-games-button-overlay"></div>
                                    <div class="top-games-button-overlay-title">
                                        {% for title in game_title['nameset'] if title['lang'] == session['lang'] %}
                                        {{ title['name'] }}
                                        {% endfor %}
                                    </div>
                                </div>


                                <button id="{{ k }}" type="submit" value="{{ k }}" class="btn-outline btn gallery-btn launch"
                                    {% if current_user.is_authenticated %}
                                            name="launch" data-bs-toggle="modal" data-bs-target="#loadingscreenModal">
                                    {% else %}
                                            data-bs-toggle="modal" data-bs-target="#registerModal">
                                    {% endif %}
                                    {{ translations['playnow'][session['lang']] }}<br><br>
        <!--                                        {{ game_title['nameset']|select(lang) }}-->
                                </button>
                            {% endif %}
                        {% endfor %}
                    </div>
            {% if outer_loop.index % 2 == 0 %}
                </div>
            {% endif %}
        {% endfor %}

    </div>
    {% endfor %}

    {% for category in icon_placement if category == 'arcade' %}
    <hr class="dropdown-divider" style="top: 8px; position: relative;">
    <div class="video-element-title gallery-header" id="header-{{ category }}"><img class="gallery-header-icon" src="{{ root_path }}static/icons/navbar/{{ category }}.png">{{ translations[category][session['lang']] }}</div>
    <div class="gallery-container">
        {% for k in icon_placement[category] %}
            {% set outer_loop = loop %}
            {% if outer_loop.index % 3 == 1 %}
                <div class="view-small">
            {% endif %}
                    <div class="med-card card shadow-sm">
                        {% for game_title in game_titles %}
                            {% if game_title['gamecode'] == k.split("_")[0] %}
                                <div class="gallery-thumb-top">
    <!--                                <span class="badge bg-warning text-dark">#{{ outer_loop.index }}</span>-->
                                    <div class="top-section-icon">
                                        <img class="gallery-img" src="{{ root_path }}static/icons/cq9/{{ k }}">
                                    </div>
                                    <div class="top-games-button-overlay"></div>
                                    <div class="top-games-button-overlay-title">
                                        {% for title in game_title['nameset'] if title['lang'] == session['lang'] %}
                                        {{ title['name'] }}
                                        {% endfor %}
                                    </div>
                                </div>


                                <button id="{{ k }}" type="submit" value="{{ k }}" class="btn-outline btn gallery-btn launch"
                                    {% if current_user.is_authenticated %}
                                            name="launch" data-bs-toggle="modal" data-bs-target="#loadingscreenModal">
                                    {% else %}
                                            data-bs-toggle="modal" data-bs-target="#registerModal">
                                    {% endif %}
                                    {{ translations['playnow'][session['lang']] }}<br><br>
        <!--                                        {{ game_title['nameset']|select(lang) }}-->
                                </button>
                            {% endif %}
                        {% endfor %}
                    </div>
            {% if outer_loop.index % 3 == 0 %}
                </div>
            {% endif %}
        {% endfor %}

    </div>
    {% endfor %}

    {% for category in icon_placement if category == 'pvp' %}
    <hr class="dropdown-divider" style="top: 8px; position: relative;">
    <div class="video-element-title gallery-header" id="header-{{ category }}"><img class="gallery-header-icon" src="{{ root_path }}static/icons/navbar/{{ category }}.png">{{ translations[category][session['lang']] }}</div>
    <div class="gallery-container">
        {% for k in icon_placement[category] %}
            {% set outer_loop = loop %}
            {% if outer_loop.index % 3 == 1 %}
                <div class="view-small" id="gallery-pvp-container">
            {% endif %}
                    <div class="med-card card card-{{ category }} shadow-sm">
                        {% for game_title in game_titles %}
                            {% if game_title['gamecode'] == k.split("_")[0] %}
                                <div class="gallery-thumb-top">
    <!--                                <span class="badge bg-warning text-dark">#{{ outer_loop.index }}</span>-->
                                    <div class="top-section-icon">
                                        <img class="gallery-img" src="{{ root_path }}static/icons/cq9/{{ k }}">
                                    </div>
                                    <div class="top-games-button-overlay"></div>
                                    <div class="top-games-button-overlay-title">
                                        {% for title in game_title['nameset'] if title['lang'] == session['lang'] %}
                                        {{ title['name'] }}
                                        {% endfor %}
                                    </div>
                                </div>


                                <button id="{{ k }}" type="submit" value="{{ k }}" class="btn-outline btn gallery-btn launch"
                                    {% if current_user.is_authenticated %}
                                            name="launch" data-bs-toggle="modal" data-bs-target="#loadingscreenModal">
                                    {% else %}
                                            data-bs-toggle="modal" data-bs-target="#registerModal">
                                    {% endif %}
                                    {{ translations['playnow'][session['lang']] }}<br><br>
        <!--                                        {{ game_title['nameset']|select(lang) }}-->
                                </button>
                            {% endif %}
                        {% endfor %}
                    </div>
            {% if outer_loop.index % 3 == 0 %}
                </div>
            {% endif %}
        {% endfor %}

    </div>
    {% endfor %}

    {% for category in icon_placement if category == 'slots' %}
    <hr class="dropdown-divider" style="top: 8px; position: relative;">
    <div class="video-element-title gallery-header" id="header-{{ category }}"><img class="gallery-header-icon" src="{{ root_path }}static/icons/navbar/{{ category }}.png">{{ translations[category][session['lang']] }}</div>
    {% endfor %}

    {% for category in icon_placement if category == 'slots-treasure' %}
    <div class="video-element-title gallery-slots-header" id="header-{{ category }}"><img class="gallery-header-icon" src="{{ root_path }}static/icons/navbar/slots/{{ category }}.png">{{ translations[category][session['lang']] }}</div>
    <div class="gallery-container">
        {% for k in icon_placement[category] %}
            {% set outer_loop = loop %}
            {% if outer_loop.index % (icon_placement[category]|length/3) == 1 %}
                <div class="view-small">
            {% endif %}
                    <div class="med-card card shadow-sm">
                        {% for game_title in game_titles %}
                            {% if game_title['gamecode'] == k.split("_")[0] %}
                                <div class="gallery-thumb-top">
    <!--                                <span class="badge bg-warning text-dark">#{{ outer_loop.index }}</span>-->
                                    <div class="top-section-icon">
                                        <img class="gallery-img" src="{{ root_path }}static/icons/cq9/{{ k }}">
                                    </div>
                                    <div class="top-games-button-overlay"></div>
                                    <div class="top-games-button-overlay-title">
                                        {% for title in game_title['nameset'] if title['lang'] == session['lang'] %}
                                        {{ title['name'] }}
                                        {% endfor %}
                                    </div>
                                </div>


                                <button id="{{ k }}" type="submit" value="{{ k }}" class="btn-outline btn gallery-btn launch"
                                    {% if current_user.is_authenticated %}
                                            name="launch" data-bs-toggle="modal" data-bs-target="#loadingscreenModal">
                                    {% else %}
                                            data-bs-toggle="modal" data-bs-target="#registerModal">
                                    {% endif %}
                                    {{ translations['playnow'][session['lang']] }}<br><br>
        <!--                                        {{ game_title['nameset']|select(lang) }}-->
                                </button>
                            {% endif %}
                        {% endfor %}
                    </div>
            {% if outer_loop.index % (icon_placement[category]|length/3)  == 0 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}

    {% for category in icon_placement if category == 'slots-jump' %}
    <div class="video-element-title gallery-header" id="header-{{ category }}"><img class="gallery-header-icon" src="{{ root_path }}static/icons/navbar/slots/{{ category }}.png">{{ translations[category][session['lang']] }}</div>
    <div class="gallery-container">
        {% for k in icon_placement[category] %}
            {% set outer_loop = loop %}
            {% if outer_loop.index % (icon_placement[category]|length/3) == 1 %}
                <div class="view-small">
            {% endif %}
                    <div class="med-card card shadow-sm">
                        {% for game_title in game_titles %}
                            {% if game_title['gamecode'] == k.split("_")[0] %}
                                <div class="gallery-thumb-top">
    <!--                                <span class="badge bg-warning text-dark">#{{ outer_loop.index }}</span>-->
                                    <div class="top-section-icon">
                                        <img class="gallery-img" src="{{ root_path }}static/icons/cq9/{{ k }}">
                                    </div>
                                    <div class="top-games-button-overlay"></div>
                                    <div class="top-games-button-overlay-title">
                                        {% for title in game_title['nameset'] if title['lang'] == session['lang'] %}
                                        {{ title['name'] }}
                                        {% endfor %}
                                    </div>
                                </div>


                                <button id="{{ k }}" type="submit" value="{{ k }}" class="btn-outline btn gallery-btn launch"
                                    {% if current_user.is_authenticated %}
                                            name="launch" data-bs-toggle="modal" data-bs-target="#loadingscreenModal">
                                    {% else %}
                                            data-bs-toggle="modal" data-bs-target="#registerModal">
                                    {% endif %}
                                    {{ translations['playnow'][session['lang']] }}<br><br>
        <!--                                        {{ game_title['nameset']|select(lang) }}-->
                                </button>
                            {% endif %}
                        {% endfor %}
                    </div>
            {% if outer_loop.index % (icon_placement[category]|length/3)  == 0 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}

    {% for category in icon_placement if category == 'slots-fantasy' %}
    <div class="video-element-title gallery-header" id="header-{{ category }}"><img class="gallery-header-icon" src="{{ root_path }}static/icons/navbar/slots/{{ category }}.png">{{ translations[category][session['lang']] }}</div>
    <div class="gallery-container">
        {% for k in icon_placement[category] %}
            {% set outer_loop = loop %}
            {% if outer_loop.index % (icon_placement[category]|length/3) == 1 %}
                <div class="view-small">
            {% endif %}
                    <div class="med-card card shadow-sm">
                        {% for game_title in game_titles %}
                            {% if game_title['gamecode'] == k.split("_")[0] %}
                                <div class="gallery-thumb-top">
    <!--                                <span class="badge bg-warning text-dark">#{{ outer_loop.index }}</span>-->
                                    <div class="top-section-icon">
                                        <img class="gallery-img" src="{{ root_path }}static/icons/cq9/{{ k }}">
                                    </div>
                                    <div class="top-games-button-overlay"></div>
                                    <div class="top-games-button-overlay-title">
                                        {% for title in game_title['nameset'] if title['lang'] == session['lang'] %}
                                        {{ title['name'] }}
                                        {% endfor %}
                                    </div>
                                </div>


                                <button id="{{ k }}" type="submit" value="{{ k }}" class="btn-outline btn gallery-btn launch"
                                    {% if current_user.is_authenticated %}
                                            name="launch" data-bs-toggle="modal" data-bs-target="#loadingscreenModal">
                                    {% else %}
                                            data-bs-toggle="modal" data-bs-target="#registerModal">
                                    {% endif %}
                                    {{ translations['playnow'][session['lang']] }}<br><br>
        <!--                                        {{ game_title['nameset']|select(lang) }}-->
                                </button>
                            {% endif %}
                        {% endfor %}
                    </div>
            {% if outer_loop.index % (icon_placement[category]|length/3)  == 0 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}

    {% for category in icon_placement if category == 'slots-cute' %}
    <div class="video-element-title gallery-header" id="header-{{ category }}"><img class="gallery-header-icon" src="{{ root_path }}static/icons/navbar/slots/{{ category }}.png">{{ translations[category][session['lang']] }}</div>
    <div class="gallery-container">
        {% for k in icon_placement[category] %}
            {% set outer_loop = loop %}
            {% if outer_loop.index % (icon_placement[category]|length/3) == 1 %}
                <div class="view-small">
            {% endif %}
                    <div class="med-card card shadow-sm">
                        {% for game_title in game_titles %}
                            {% if game_title['gamecode'] == k.split("_")[0] %}
                                <div class="gallery-thumb-top">
    <!--                                <span class="badge bg-warning text-dark">#{{ outer_loop.index }}</span>-->
                                    <div class="top-section-icon">
                                        <img class="gallery-img" src="{{ root_path }}static/icons/cq9/{{ k }}">
                                    </div>
                                    <div class="top-games-button-overlay"></div>
                                    <div class="top-games-button-overlay-title">
                                        {% for title in game_title['nameset'] if title['lang'] == session['lang'] %}
                                        {{ title['name'] }}
                                        {% endfor %}
                                    </div>
                                </div>


                                <button id="{{ k }}" type="submit" value="{{ k }}" class="btn-outline btn gallery-btn launch"
                                    {% if current_user.is_authenticated %}
                                            name="launch" data-bs-toggle="modal" data-bs-target="#loadingscreenModal">
                                    {% else %}
                                            data-bs-toggle="modal" data-bs-target="#registerModal">
                                    {% endif %}
                                    {{ translations['playnow'][session['lang']] }}<br><br>
                                    {% for title in game_title['nameset'] if title['lang'] == session['lang'] %}
                                        {{ title['name'] }}
                                    {% endfor %}
        <!--                                        {{ game_title['nameset']|select(lang) }}-->
                                </button>
                            {% endif %}
                        {% endfor %}
                    </div>
            {% if outer_loop.index % (icon_placement[category]|length/3) == 0 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}

    {% for category in icon_placement if category == 'slots-animals' %}
    <div class="video-element-title gallery-header" id="header-{{ category }}"><img class="gallery-header-icon" src="{{ root_path }}static/icons/navbar/slots/{{ category }}.png">{{ translations[category][session['lang']] }}</div>
    <div class="gallery-container">
        {% for k in icon_placement[category] %}
            {% set outer_loop = loop %}
            {% if outer_loop.index % (icon_placement[category]|length/3) == 1 %}
                <div class="view-small">
            {% endif %}
                    <div class="med-card card shadow-sm">
                        {% for game_title in game_titles %}
                            {% if game_title['gamecode'] == k.split("_")[0] %}
                                <div class="gallery-thumb-top">
    <!--                                <span class="badge bg-warning text-dark">#{{ outer_loop.index }}</span>-->
                                    <div class="top-section-icon">
                                        <img class="gallery-img" src="{{ root_path }}static/icons/cq9/{{ k }}">
                                    </div>
                                    <div class="top-games-button-overlay"></div>
                                    <div class="top-games-button-overlay-title">
                                        {% for title in game_title['nameset'] if title['lang'] == session['lang'] %}
                                        {{ title['name'] }}
                                        {% endfor %}
                                    </div>
                                </div>


                                <button id="{{ k }}" type="submit" value="{{ k }}" class="btn-outline btn gallery-btn launch"
                                    {% if current_user.is_authenticated %}
                                            name="launch" data-bs-toggle="modal" data-bs-target="#loadingscreenModal">
                                    {% else %}
                                            data-bs-toggle="modal" data-bs-target="#registerModal">
                                    {% endif %}
                                    {{ translations['playnow'][session['lang']] }}<br><br>
                                    {% for title in game_title['nameset'] if title['lang'] == session['lang'] %}
                                        {{ title['name'] }}
                                    {% endfor %}
        <!--                                        {{ game_title['nameset']|select(lang) }}-->
                                </button>
                            {% endif %}
                        {% endfor %}
                    </div>
            {% if outer_loop.index % (icon_placement[category]|length/3)  == 0 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}

    {% for category in icon_placement if category == 'slots-action' %}
    <div class="video-element-title gallery-header" id="header-{{ category }}"><img class="gallery-header-icon" src="{{ root_path }}static/icons/navbar/slots/{{ category }}.png">{{ translations[category][session['lang']] }}</div>
    <div class="gallery-container">
        {% for k in icon_placement[category] %}
            {% set outer_loop = loop %}
            {% if outer_loop.index % (icon_placement[category]|length/3) == 1 %}
                <div class="view-small">
            {% endif %}
                    <div class="med-card card shadow-sm">
                        {% for game_title in game_titles %}
                            {% if game_title['gamecode'] == k.split("_")[0] %}
                                <div class="gallery-thumb-top">
    <!--                                <span class="badge bg-warning text-dark">#{{ outer_loop.index }}</span>-->
                                    <div class="top-section-icon">
                                        <img class="gallery-img" src="{{ root_path }}static/icons/cq9/{{ k }}">
                                    </div>
                                    <div class="top-games-button-overlay"></div>
                                    <div class="top-games-button-overlay-title">
                                        {% for title in game_title['nameset'] if title['lang'] == session['lang'] %}
                                        {{ title['name'] }}
                                        {% endfor %}
                                    </div>
                                </div>


                                <button id="{{ k }}" type="submit" value="{{ k }}" class="btn-outline btn gallery-btn launch"
                                    {% if current_user.is_authenticated %}
                                            name="launch" data-bs-toggle="modal" data-bs-target="#loadingscreenModal">
                                    {% else %}
                                            data-bs-toggle="modal" data-bs-target="#registerModal">
                                    {% endif %}
                                    {{ translations['playnow'][session['lang']] }}<br><br>
                                    {% for title in game_title['nameset'] if title['lang'] == session['lang'] %}
                                        {{ title['name'] }}
                                    {% endfor %}
        <!--                                        {{ game_title['nameset']|select(lang) }}-->
                                </button>
                            {% endif %}
                        {% endfor %}
                    </div>
            {% if outer_loop.index % (icon_placement[category]|length/3)  == 0 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}


</div>

<script>
    $(document).ready(function(){
<!--    alert({{ category }});-->
        $('#navigation-bar').scrollspy();

        $('.launch').on('click', function(){
            event.preventDefault();
            $.ajax({
              url: "/launch",
              type: "post",
              dataType: "json",
              contentType: "application/json; charset=UTF-8",
              data: JSON.stringify({
                "id":$(this).attr("id")
              }),
              success: function(self) {
                $('#loadingscreenModal').modal('hide');
                window.open(self.link.toString());
              },
              error: function(e) {
<!--                Just check if you look like you're online in the UI -->
                    var top_bar_online_is_visible = document.getElementById('username-field')
                    if (top_bar_online_is_visible) {
                        console.log('launch error: ' + e);
                        console.log('reloading...');
                        location.reload();
                    }
<!--                notification_popup('alert:serverReset', 'please reload')-->
              }
            });
        });
    });


</script>



{% endblock gallery %}

