{% extends "layout.html" %}
{% block pendingWithdraw %}
<div class="py-2" style="margin-left: 5%;">
    <h3 class="green-text-outline">Pending Withdraws</h3>

    <h8 class="green-text-outline"><div id="num_results" style="display: inline;">{{ rec|length }}</div> results</h8>

</div>

<script>

    $(document).ready(function(){
        $("td[colspan=12]").find("p").hide();
        $("table").click(function(event) {
            event.stopPropagation();
            var $target = $(event.target);
            if ( $target.closest("td").attr("colspan") > 1 ) {
                $target.slideUp();
                $target.closest("tr").next().find("div").slideToggle();

            } else {
                $target.closest("tr").next().find("div").slideToggle();

            }
        });
    });

</script>

<table id="data" class="table table-hover table-dark profile-container green-text-outline">
    <thead class="txn-table-header">
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Email</th>
        <th>Amount</th>
        <th>txHash</th>
<!--        <th>Chain</th>-->
        <th>Wallet</th>
        <th>Reconcile</th>
<!--        <th>Valid Bet</th>-->
<!--        <th>Jackpot</th>-->
<!--        <th>JackContribution</th>-->
<!--        <th>Rake</th>-->
<!--        <th>Room Fee</th>-->
      </tr>
    </thead>
    <tbody class="txn-table-row" id="results">
<!--      {% set counter = 0 %}-->
      {% for record in rec %}
<!--        {% set counter = loop.count %}-->
        <tr>
            {% if record.created is string %}
            <td>{{ record.created.split(' ')[0] }}</td>
            <td>{{ record.created.split(' ')[1] }}</td>
            {% else %}
            <td>{{ record.created.strftime('%Y-%m-%d') }}</td>
            <td>{{ record.created.strftime('%H:%M:%S') }}</td>
            {% endif %}
            <td>{{ record.email|truncate(9, true, '') }}</td>

            <td>{{ record.amount }} <span style="font-size: smaller;">{{ record.currency|upper }}</span></td>
            <td id="reconcile:{{ record.txHash }}">{{ record.txHash }}</td>

            <td><a href='https://api.etherscan.io/address={{ record.fromAddress }}' target="_blank">{{ record.fromAddress|truncate(6, true, '') }}</a></td>

            <td>
                <button id="{{ record.amount }}-{{ record.fromAddress }}-{{ record.txHash }}"
                                          class="btn btn-link reconcile-button" data-bs-toggle="tooltip" data-bs-placement="right">Go</button>
            </td>
<!--            <td>{{ record.validbet }}</td>-->
<!--          <td>{{ record.jackpot }}</td>-->
<!--          <td>{{ record.jackpotcontribution }}</td>-->
<!--            <td>{{ record.rake }}</td>-->
<!--          <td>{{ record.roomfee }}</td>-->
        </tr>
      {% endfor %}
    </tbody>


</table>




<!--    {% if num_results == 0 %}-->
<!--        <div class="green-text-outline">-->
<!--          No Data-->
<!--        </div>-->
<!--    {% endif %}-->
<!--<script language="JavaScript" type="text/javascript" src="{{ root_path }}static/js/calendar.js"></script>-->

{% endblock pendingWithdraw %}


