{% extends "layout.html" %}
{% block content %}

<div class="container shadow py-2">
    <h3 class="green-text">Gaming History</h3><br>
    <h5 class="green-text">{{ num_results }} results</h5>
    <div class="col-3 justify-content-center">
        <div class="input-group mb-3">
            <span class="input-group-text whiteFont">Date</span>
            <input id="reportDate" class="form-control" type="date" value="{{ report_date }}"/>
        </div>
    </div>


</div>

<script>
    $(document).ready(function(){
        const selectElement = document.getElementById('reportDate');

        selectElement.addEventListener("change", (event) => {
            $.ajax({
                url: "/profile",
                type: "post",
                dataType: "json",
                contentType: "application/json; charset=UTF-8",
                data: JSON.stringify({
                    "reportDate":selectElement.value
                }),
                success: function(self) {
                    htmloutput = "<tr>";
                    results = self.rec;
                    for (let i = 0; i < results.length; i++) {
                        htmloutput = htmloutput + "<td>" + results[i]["endroundtime"] + "</td>";
                        htmloutput = htmloutput + "<td>" + results[i]["status"] + "</td>";
                        htmloutput = htmloutput + "<td>" + results[i]["round"] + "</td>";
                        htmloutput = htmloutput + "<td>" + results[i]["gamecode"] + "</td>";
                        htmloutput = htmloutput + "<td>" + results[i]["bet"] + "</td>";
                        htmloutput = htmloutput + "<td>" + results[i]["win"] + "</td>";
                        htmloutput = htmloutput + "<td>" + results[i]["validbet"] + "</td>";
                        htmloutput = htmloutput + "<td>" + results[i]["jackpot"] + "</td>";
                        htmloutput = htmloutput + "<td>" + results[i]["jackpotcontribution"] + "</td>";
                        htmloutput = htmloutput + "<td>" + results[i]["rakes"] + "</td>";
                        htmloutput = htmloutput + "<td>" + results[i]["roomfee"] + "</td>";
                    };

                    htmloutput = htmloutput + "</tr>";

                    list = document.getElementById("results").innerHTML = htmloutput;
                },
                error: function(e) {
                    console.log(e);
                }
            });
        });
    });

</script>

<table id="data" class="table table-striped table-dark container green-text">
    <thead>
      <tr>
          <th>Time</th>
          <th>Status</th>
          <th>Round</th>
          <th>Gamecode</th>
        <th>Bet</th>
        <th>Win</th>
        <th>Valid Bet</th>
        <th>Jackpot</th>
        <th>JackContribution</th>
        <th>Rake</th>
        <th>Room Fee</th>
      </tr>
    </thead>
    <tbody id="results">
      {% for record in rec %}
        <tr>
          <td>{{ record.endroundtime }}</td>
          <td>{{ record.status }}</td>
            <td>{{ record.round }}</td>
            <td>{{ record.gamecode }}</td>
            <td>{{ record.bet }}</td>
            <td>{{ record.win }}</td>
          <td>{{ record.validbet }}</td>
          <td>{{ record.jackpot }}</td>
          <td>{{ record.jackpotcontribution }}</td>
          <td>{{ record.rakes }}</td>
          <td>{{ record.roomfee }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>

{% endblock %}

