<div class="socials-container">
    <div class="video-element-title" id="header-social-networks"> Social Networks</div>
    <div class="socials-container-child" >
        <a href="https://discord.gg/ebjsys6h">
                <i class="bi bi-discord med-excited-text socials-icon" ></i>
        </a>
    </div>
    <div class="socials-container-child">
        <a href="https://twitter.com/gambitsvip">
                <img id="socials-twitter" src="static/logos/Twitter X.svg" class="socials-icon svg-filter-excited" style="height: 27px;margin-left: 25px;z-index: 10;margin-top: 13px; margin-bottom: auto;">
        </a>
    </div>
    <div class="socials-block">
        <div class="socials-title green-text">{{ translations['socials:discord'][session['lang']] }}</div>
    </div>
<!--    <a class="socials-container-child" href="https://twitter.com/gambitsvip">-->
<!--        <div class="socials-block" >-->
<!--&lt;!&ndash;            <i class="bi bi-twitter med-excited-text socials-icon"></i>&ndash;&gt;-->
<!--            <div class="socials-title med-excited-text" >{{ translations['socials:twitter'][session['lang']] }}</div>-->
<!--        </div>-->
<!--    </a>-->
</div>

