<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" rel="stylesheet" />

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="top_bar">
    <div class="top-bar-desktop">
        <!-- start LOGO -->
        <div class="navbar-brand">
            <a href="/">
                <img src="{{ root_path }}/logos/favicon.png" id="main-icon">

              <img src="{{ root_path }}/logos/gambits_logo.png" class="main-logo">
              <img src="{{ root_path }}/logos/gambits_logo long.png" class="main-logo-long">
            </a>
        </div>
        <!-- end LOGO -->

        <!-- start RIGHT SIDE BAR -->
        <div class="top-bar-right-side">
            {% if current_user.is_authenticated %}
                {% if session['admin'] %}
                    <!-- start SEARCH button -->
                    <a class="btn btn-outline-success" href="/search"><i class="bi bi-search"></i></a>
                {% endif %}

            <!-- start GREETING -->
            <div class="green-text" style="margin-right: 8px;">
              ♥️🙏 {{ translations['hi'][session['lang']] }}
            </div>
            <!-- end GREETING -->

            <!-- start DROPDOWN -->
            <div class="dropdown open">
                <!-- start DROPDOWN button -->
                <button class="btn btn-outline-success dropdown-toggle" id="top-bar-dropdown-button" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="top-dropdown-button" id="username-field">{{ current_user.username }}</div>
                    <div class="top-dropdown-button" id="address-field"><i class="bi bi-wallet2"></i> <div id="address-field-sub">{{ current_user.publicAddress }}</div></div>
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu multi-level green-text" aria-labelledby="top-bar-dropdown-button">

                    <li class="" id="balance" style="margin-left: 7px;">
                          {{ current_user.balance }} {{ current_user.currency }}
                    </li>
                    <div class="dropdown-divider"></div>

                    <li>
                        <button class="btn dropdown-item" id="deposit-button" data-bs-toggle="modal" data-bs-target="#depositModal">
                            <i class="fa-solid fa-money-bill-transfer"></i>
                            {{ translations['deposit'][session['lang']] }}
                        </button>
                    </li>

                    <li>
                        <button class="btn dropdown-item" id="connect-wallet">
                            <i class="bi bi-wallet2"></i>
                            {{ translations['connect wallet'][session['lang']] }}
                        </button>

                    </li>

                    <div class="dropdown-divider"></div>
                    <li><a class="btn dropdown-item" href="/gamehistory">{{ translations['gamehistory'][session['lang']] }}</a></li>
                    <li class="dropdown-submenu dropdown-item">
<!--                        <span class="bi bi-caret-left"></span>-->
                        <span class="flag-icon flag-icon-{{ session['flag'] }} me-1"> </span>{{ translations['language'][session['lang']] }}
                        <ul class="dropdown-menu">
            {% endif %}

            {% if not current_user.is_authenticated %}
                        <div class="dropdown">
                            <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdown-language" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="flag-icon flag-icon-{{ session['flag'] }} me-1"></span>
                            </button>
                            <ul class="dropdown-menu green-text" aria-labelledby="dropdown-language" id="language-select" >
            {% endif %}
                                <li><a class="dropdown-item" href="/lang/en" id="lang-en"><span class="flag-icon flag-icon-gb me-1"></span> <span>English</span></a></li>
                                <li><a class="dropdown-item" href="/lang/zh-tw" id="lang-zh-tw"><span class="flag-icon flag-icon-tw me-1"></span> <span>繁體中文</span></a></li>
                                <li><a class="dropdown-item" href="/lang/zh-cn" id="lang-zh-cn"><span class="flag-icon flag-icon-cn me-1"></span> <span>简体中文</span></a></li>
                                <li><a class="dropdown-item" href="/lang/ja" id="lang-ja"><span class="flag-icon flag-icon-jp me-1"></span> <span>日本</span></a></li>
                                <li><a class="dropdown-item" href="/lang/id" id="lang-id"><span class="flag-icon flag-icon-id me-1"></span> <span>Bahasa</span></a></li>
                                <li><a class="dropdown-item" href="/lang/kr" id="lang-kr"><span class="flag-icon flag-icon-kr me-1"></span> <span>한국어</span></a></li>
                                <li><a class="dropdown-item" href="/lang/vn" id="lang-vn"><span class="flag-icon flag-icon-vn me-1"></span> <span>Việt</span></a></li>
                                <li><a class="dropdown-item" href="/lang/br" id="lang-br"><span class="flag-icon flag-icon-br me-1"></span> <span>Português</span></a></li>
                                <li><a class="dropdown-item" href="/lang/es" id="lang-es"><span class="flag-icon flag-icon-es me-1"></span> <span>Española</span></a></li>
                            </ul>
            {% if not current_user.is_authenticated %}
                <!--            close dropdown div-->
                        </div>
            {% else %}
                    </li>
                    <div class="dropdown-divider"></div>
                    <li><a class="btn dropdown-item" href="/logout">{{ translations['log out'][session['lang']] }}</a></li>
                </ul>
            </div>
            <script>
                $(document).ready(function(){
                    active_lang = document.getElementById("lang-" + "{{ session['lang'] }}");
                    active_lang.classList.add("active");
                });
            </script>
            {% endif %}

            {% if not current_user.is_authenticated %}
        <!-- LOGIN/REGISTER (if NOT logged in) -->
<!--                <button class="btn btn-outline-success" id="connect-button">-->
<!--                  <div >wallet</div>-->
<!--                </button>-->
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#loginModal">
                  <div >{{ translations['log in'][session['lang']] }}</div>
                </button>
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#registerModal">
                  <div >{{ translations['register'][session['lang']] }}</div>
                </button>
            {% endif %}
        </div>
    </div>
</nav>

<!--<script language="JavaScript" type="text/javascript">-->
<!--    $(document).ready(function(){-->
<!--        function set_lang() {-->
<!--            var balance_field = document.getElementById("balance");-->

<!--        }-->
<!--    });-->
<!--</script>-->

{% if current_user.is_authenticated %}
    <script language="JavaScript" type="text/javascript">
    $(document).ready(function(){
        var balance_field = document.getElementById("balance");
        function updater() {
            const response = fetch('/getBalance');
            balance_field.value = response;
        }
        $('#top-bar-dropdown-button').on('click', function(){
            event.preventDefault();
            $.ajax({
                url: "/getBalance",
                type: "post",
                success: function(self) {
                    document.getElementById("balance").innerHTML = self;
                },
                error: function(e) {
                    console.log(e);
                }
            });
        });

        var publicAddress = "{{ current_user.publicAddress }}"

        if (publicAddress != 'None'){
            var user_field = document.getElementById("username-field")
            var address_field = document.getElementById("address-field")

            address_field.style.display = "flex"

            address_field.style.width = user_field.clientWidth - 20
            address_field.style.height = user_field.clientHeight

            user_field.classList.add('text-animated-username')
            address_field.classList.add('text-animated-address')

        }

    });


    </script>
    <script language="JavaScript" type="module" src="{{ root_path }}/js/metamask_connect.js"></script>
{% endif %}

