<div id="socials-container">
    <div class="video-element-title ps-1 pt-1 pb-1" style="text-align:center;background: #1b121b;">
        Join us!
    </div>

    <a class="btn btn-dark socials-container-child" href="https://discord.gg/ebjsys6h">
        <img src="static/logos/logo-discord.png" class="socials-icon">
        <div class="socials-title green-text">{{ translations['socials:discord'][session['lang']] }}</div>
    </a>
    <a class="btn btn-dark socials-container-child" href="https://twitter.com/gambitsvip">
        <img src="static/logos/logo-twitter.png" class="socials-icon">
        <div class="socials-title green-text">{{ translations['socials:twitter'][session['lang']] }}</div>
    </a>
    <hr class="main-container-divider">

    <button onclick="kill_socials();" class="btn green-text" style="text-align:center;background-color: #1c121b;width: 100%;">
        Closing... <span id="socials-counter">10</span>
    </button>

    <script>

    </script>
</div>

