<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" rel="stylesheet" />
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="top_bar">
    <div class="top-bar-desktop">
        <!-- LOGO -->
        <div class="navbar-brand">
            <a href="/">
                <img src="{{ root_path }}/logos/favicon.png" id="main-icon">

              <img src="{{ root_path }}/logos/gambits_logo.png" class="main-logo">
            </a>
        </div>

        <!-- SOCIALS (Desktop) -->
        <!--            <a class="navbar        d" href="https://discord.gg/ebjsys6h">-->
        <!--                <i class="bi bi-discord"></i>-->
        <!--            </a>-->
        <!--            <a class="navbar-brand" href="https://twitter.com/cryptoraiderio">-->
        <!--                <i class="bi bi-twitter"></i>-->
        <!--            </a>-->
        <div class="top-bar-right-side">
            {% if current_user.is_authenticated and session['admin'] %}
                <a class="btn btn-outline-success" href="/search"><i class="bi bi-search"></i></a>
            {% endif %}

        <!-- PROFILE/LOGOUT (if logged in) -->
            {% if current_user.is_authenticated %}
            <div class="green-text" style="margin-right: 8px;">
              ♥️🙏 Hi
            </div>

            <div class="dropdown open">
                <button class="btn btn-outline-success dropdown-toggle" id="dLabel" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ current_user.username }}
                <span class="caret"></span>
                </button>

                <ul class="dropdown-menu multi-level green-text" aria-labelledby="dLabel">
                    <li class="dropdown-item" id="balance">

                          {{ current_user.balance }} {{ current_user.currency }}
                    </li>
                    <div class="dropdown-divider"></div>
                    <li><a class="btn dropdown-item" href="/profile">{{ translations['profile'][session['lang']] }}</a></li>
                    <li class="dropdown-submenu">
                        {{ translations['language'][session['lang']] }}:  <span class="flag-icon flag-icon-{{ session['flag'] }} me-1"> </span>
                        <ul class="dropdown-menu">
            {% else %}
                        <div class="dropdown">
<!--                            <form method="POST">-->
                            <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="flag-icon flag-icon-{{ session['flag'] }} me-1"></span>
                            </button>
                            <ul class="dropdown-menu green-text" aria-labelledby="dropdownMenuButton1" id="language-select" >


            {% endif %}
                            <form method="POST">
                                <li>
                                    <button class="dropdown-item" name="language-select" value="en" id="lang-en"><span class="flag-icon flag-icon-gb me-1"></span> <span>English</span></button>
                                </li>
                                <li>
                                    <button class="dropdown-item" name="language-select" value="zh-tw" id="lang-zh-tw"><span class="flag-icon flag-icon-tw me-1"></span> <span>繁體中文</span></button>
                                </li>
                                <li>
                                    <button class="dropdown-item" name="language-select" value="zh-cn" id="lang-zh-cn"><span class="flag-icon flag-icon-cn me-1"></span> <span>简体中文</span></button>
                                </li>
                                <li>
                                    <button class="dropdown-item" name="language-select" value="ja" id="lang-ja"><span class="flag-icon flag-icon-jp me-1"></span> <span>日本</span></button>
                                </li>
                                <li>
                                    <button class="dropdown-item" name="language-select" value="id" id="lang-id"><span class="flag-icon flag-icon-id me-1"></span> <span>Bahasa</span></button>
                                </li>
                                <li>
                                    <button class="dropdown-item" name="language-select" value="kr" id="lang-kr"><span class="flag-icon flag-icon-kr me-1"></span> <span>한국어</span></button>
                                </li>
                                <li>
                                    <button class="dropdown-item" name="language-select" value="vn" id="lang-vn"><span class="flag-icon flag-icon-vn me-1"></span> <span>Việt</span></button>
                                </li>
                                <li>
                                    <button class="dropdown-item" name="language-select" value="br" id="lang-br"><span class="flag-icon flag-icon-br me-1"></span> <span>Português</span></button>
                                </li>
                                <li>
                                    <button class="dropdown-item" name="language-select" value="es" id="lang-es"><span class="flag-icon flag-icon-es me-1"></span> <span>Española</span></button>
                                </li>
                            </form>
            {% if current_user.is_authenticated %}
                        </ul>
                    </li>
                    <script>
                        $(document).ready(function(){
                            active_lang = document.getElementById("lang-" + "{{ session['lang'] }}");
                            active_lang.classList.add("active");

                        });
                    </script>
                    <div class="dropdown-divider"></div>
                    <li><a class="btn dropdown-item" href="/logout">{{ translations['log out'][session['lang']] }}</a></li>
                </ul>
            </div>
            {% else %}
                </div>


        <!-- LOGIN/REGISTER (if NOT logged in) -->
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#loginModal">
                  <div >{{ translations['log in'][session['lang']] }}</div>
                </button>
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#registerModal">
                  <div >{{ translations['register'][session['lang']] }}</div>
                </button>
            {% endif %}


        </div>
    </div>
</nav>

<script language="JavaScript" type="text/javascript">
    $(document).ready(function(){
        function set_lang() {
<!--            var balance_field = document.getElementById("balance");-->

        }
    });
</script>

{% if current_user.is_authenticated %}
    <script language="JavaScript" type="text/javascript">
    $(document).ready(function(){
        var balance_field = document.getElementById("balance");
        function updater() {
            const response = fetch('/getBalance');
            balance_field.value = response;


<!--            .then(response => response.text())-->
<!--            .then(text => (balance_field.innerHTML = text))；  // update page with new data-->
        }
        $('#dLabel').on('click', function(){
            updater();
        });
    });
    </script>
{% endif %}