
<div class="video-element-title gallery-header" id="header-baccarat"><img class="gallery-header-icon" src="{{ root_path }}static/icons/navbar/baccarat.png"> {{ translations['baccarat'][session['lang']] }}</div>

<div class="video-container-parent mt-3 mb-5">

<!--motivation gaming-->
  <div class="video-container-wide me-1">
    <div>
      <video playsinline autoplay loop muted class="video-baccarat" muted="" autoplay="" loop="" src="static/video/motivation.mp4#t=0.01" type="video/mp4"></video>
    </div>
    <div class="video-element-overlay-wide">
      <div class="video-element-description-wide">
        <img class="video-element-logo-wide" src="static/logos/motivation_logo.png">
        <div class="excited-text video-elem-desc">{{ translations['live baccarat'][session['lang']] }}</div>

        <button class="btn btn-outline-success video-element-button-wide" onclick="launch_game();"
        {% if current_user.is_authenticated %}
                name="launch" data-bs-toggle="modal" data-bs-target="#loadingscreenModal">
        {% else %}
                data-bs-toggle="modal" data-bs-target="#registerModal">
        {% endif %}
          <div >{{ translations['playnow'][session['lang']] }}</div>
        </button>
      </div>
    </div>

  </div>

  <!--yaxing gaming-->
  <div class="video-container-wide ms-1">

    <div>
      <video playsinline autoplay loop muted class="video-baccarat" muted="" autoplay="" loop="" src="static/video/yaxing.mp4#t=0.5" type="video/mp4"></video>
    </div>
    <div class="video-element-overlay-wide">
      <div class="video-element-description-wide">
        <img class="video-element-logo-wide" src="static/logos/yaxing_logo.png">
        <div class="excited-text video-elem-desc">{{ translations['live baccarat'][session['lang']] }}</div>

        <button onclick="launch_game();" class="btn btn-outline-success video-element-button-wide" onclick="launch_game();"
        {% if current_user.is_authenticated %}
                name="launch" data-bs-toggle="modal" data-bs-target="#loadingscreenModal">
        {% else %}
                data-bs-toggle="modal" data-bs-target="#registerModal">
        {% endif %}
          <div >{{ translations['playnow'][session['lang']] }}</div>
        </button>
      </div>
    </div>

  </div>
</div>

