<div class="navbar-expand-md bg-dark nav-bar-selector fixed-middle" id="middle_bar">
<!--    <a class="nav-link active-link" aria-current="page" href="/sports">-->
<!--      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/heart.png"><br>-->
<!--      Favorites-->
<!--    </a>-->
<!--    <a class="nav-link game-show" aria-current="page" href="/">-->
<!--      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/medal.png"><br>-->
<!--      Top Games-->
<!--    </a>-->
<!--    <a class="nav-link" aria-current="page" href="/sports">-->
<!--      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/sports.png"><br>-->
<!--      Sports-->
<!--    </a>-->

    <a class="nav-link" id="nav-fishing" onClick="reply_click(this.id)">
        <h9>{{  translations['fishing'][lang] }}</h9>
        <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/fishing.png"><br>
    </a>
    <a class="nav-link" id="nav-arcade" onClick="reply_click(this.id)">
        <h9>{{  translations['arcade'][lang] }}</h9>
        <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/arcade.png"><br>
    </a>
    <a class="nav-link" id="nav-pvp" onClick="reply_click(this.id)">
        <h9>{{  translations['pvp'][lang] }}</h9>
        <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/pvp.png"><br>
    </a>
    <a class="nav-link" id="nav-slots" onClick="reply_click(this.id)">
        <h9>{{ translations['slots'][lang] }}</h9>
        <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/slots.png"><br>
    </a>

    <script>



<!--        const yOffset = document.getElementById("top-games-container").clientHeight + document.getElementById("top-games-container").offsetY;-->

        function reply_click(clicked_id){
            const id = "header-" + clicked_id.split('-')[1];
            const yOffset = document.getElementById('top_bar').clientHeight + 20;
            const element = document.getElementById(id);
            const y = element.getBoundingClientRect().top + window.pageYOffset - yOffset;

            window.scrollTo({top: y, behavior: 'smooth'});

<!--            alert("header-" + clicked_id.split('-')[1]);-->
<!--            const element = document.getElementById()-->
<!--            element.scrollIntoView({alignToTop: 'true'});-->
    <!--            const element = document.getElementById("heading-".concat(clicked_id.split('-')[1]));-->
    <!--            const y = element.getBoundingClientRect().top - yOffset;-->
        }

    </script>
<!--    <a class="nav-link" aria-current="page" href="/roulette">-->
<!--      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/005-casino-roulette.png"><br>-->
<!--      Roulette-->
<!--    </a>-->
<!--    <a class="nav-link" aria-current="page" href="/blackjack">-->
<!--      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/003-poker-cards.png"><br>-->
<!--      Blackjack-->
<!--    </a>-->
<!--    <a class="nav-link" aria-current="page" href="/dice">-->
<!--      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/004-dice.png"><br>-->
<!--      Dice-->
<!--    </a>-->
<!--    <a class="nav-link" aria-current="page" href="/poker">-->
<!--      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/002-poker.png"><br>-->
<!--      Poker-->
<!--    </a>-->
<!--    <a class="nav-link game-show" aria-current="page" href="/game_shows">-->
<!--      <img class="midBarIcon" src="{{ static_path }}static/icons/ui/category_select/png/game_shows.png"><br>-->
<!--      Game Shows-->
<!--    </a>-->
</div>
