<div class="socials-container">
    <a class="socials-container-child" href="https://discord.gg/ebjsys6h">
        <div class="socials-block">
            <i class="bi bi-discord med-excited-text socials-icon" ></i>
            <div class="socials-title med-excited-text">{{ translations['socials:discord'][session['lang']] }}</div>
        </div>
    </a>
    <a class="socials-container-child" href="https://twitter.com/gambitsvip">
        <div class="socials-block" >
<!--            <i class="bi bi-twitter med-excited-text socials-icon"></i>-->
            <img src = "static/logos/Twitter X.svg" class="svg-filter-excited" style="height: 27px;">
            <div class="socials-title med-excited-text" >{{ translations['socials:twitter'][session['lang']] }}</div>
        </div>
    </a>
</div>

