<nav class=" navbar-expand-md bg-dark nav-bar-selector fixed-middle" id="navigation-bar">
    <a class="nav-link" id="nav-baccarat" href="#header-baccarat">
        <h9  class="nav-link-title">{{  translations['baccarat'][lang] }}</h9>
        <img class="midBarIcon" src="{{ root_path }}static/icons/navbar/baccarat.png"><br>
    </a>

    <a class="nav-link" id="nav-top-games" href="#header-top-games">
        <h9  class="nav-link-title">{{  translations['top-games'][lang] }}</h9>
        <img class="midBarIcon" src="{{ root_path }}static/icons/navbar/top-games.png"><br>
    </a>

    <a class="nav-link" id="nav-fishing" href="#header-fishing">
        <h9  class="nav-link-title">{{  translations['fishing'][lang] }}</h9>
        <img class="midBarIcon" src="{{ root_path }}static/icons/navbar/fishing.png"><br>
    </a>

    <a class="nav-link" id="nav-arcade" href="#header-arcade">
        <h9  class="nav-link-title">{{  translations['arcade'][lang] }}</h9>
        <img class="midBarIcon" src="{{ root_path }}static/icons/navbar/arcade.png"><br>
    </a>

    <a class="nav-link" id="nav-pvp" href="#header-pvp">
        <h9  class="nav-link-title">{{  translations['pvp'][lang] }}</h9>
        <img class="midBarIcon" src="{{ root_path }}static/icons/navbar/pvp.png"><br>
    </a>

    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="nav-slots" href="#header-slots">
        <h9  class="nav-link-title">{{  translations['slots'][lang] }}</h9>
        <img class="midBarIcon" src="{{ root_path }}static/icons/navbar/slots.png"><br>
    </a>
</nav>

<nav class="dropdown-menu fixed-middle" id="slots-dropdown">

    <a class="nav-link" id="nav-slots-action" href="#header-slots-action">
        <h9  class="nav-link-title">{{  translations['slots-action'][lang] }}</h9>
        <img class="midBarIcon" src="{{ root_path }}static/icons/navbar/slots/action.png"><br>
    </a>

    <a class="nav-link" id="nav-slots/animals" href="#header-slots-animals">
        <h9 class="nav-link-title">{{  translations['slots-animals'][lang] }}</h9>
        <img class="midBarIcon" src="{{ root_path }}static/icons/navbar/slots/animals.png"><br>
    </a>

    <a class="nav-link" id="nav-slots-cute" href="#header-slots-cute">
        <h9  class="nav-link-title">{{  translations['slots-cute'][lang] }}</h9>
        <img class="midBarIcon" src="{{ root_path }}static/icons/navbar/slots/cute.png"><br>
    </a>

    <a class="nav-link" id="nav-slots-fantasy" href="#header-slots-fantasy">
        <h9  class="nav-link-title">{{  translations['slots-fantasy'][lang] }}</h9>
        <img class="midBarIcon" src="{{ root_path }}static/icons/navbar/slots/fantasy.png"><br>
    </a>

    <a class="nav-link" id="nav-slots-jump" href="#header-slots-jump">
        <h9  class="nav-link-title">{{  translations['slots-jump'][lang] }}</h9>
        <img class="midBarIcon" src="{{ root_path }}static/icons/navbar/slots/jump.png"><br>
    </a>

    <a class="nav-link" id="nav-slots-treasure" href="#header-slots-treasure">
        <h9  class="nav-link-title">{{  translations['slots-treasure'][lang] }}</h9>
        <img class="midBarIcon" src="{{ root_path }}static/icons/navbar/slots/treasure.png"><br>
    </a>
</nav>

<script>

// select the target node

const observerOptions = { attributes: true, childList: true, subtree: true };
var dropdown = document.getElementById('slots-dropdown');
var nav_slots = document.getElementById('nav-slots');


function callback (mutations) {
    if (nav_slots.classList.contains('active')) {
        dropdown.style.display = "flex"
    } else {
        dropdown.style.display = "none"
    }
}
let observer = new MutationObserver(callback);

observer.observe(nav_slots, observerOptions);


</script>

