<!-- alert -->
<div class="alert alert-primary alert-danger fade" id="alert-box">
    <button id="close-alert-button" type="button" class="btn-close btn-close-alert" aria-label="Close"></button>
    <div style="margin-left:40px;">
        <div style="display:inline-flex;">
            <svg style="margin-top: 3px;margin-right: 3px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill mb-1" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <strong><div id="alert-title"></div></strong>
        </div>
        <div id="alert-message"></div>
    </div>
</div>

<script>
    $('#close-alert-button').on('click', function () {
        $('#alert-box').removeClass('show')
    });
</script>

<!-- loading.... popup -->
<div class="modal fade" id="loadingscreenModal" tabindex="-1" role="dialog" aria-labelledby="loadingscreenModalWindow" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" id="loadingscreenModalWindow">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="loadingscreenModalLabel">{{ translations['loading'][session['lang']] }}</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body" id="game-launch-spinner">
                <div class="icon-spinner spinner-border text-success" role="status">
                    <img src="{{ root_path }}static/logos/favicon.png" class="main-logo">
                </div>
            </div>
        </div>
    </div>
</div>

{% if current_user.is_authenticated %}

<!-- deposit popup -->
<div class="modal fade" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="depositModalWindow" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" id="depositModalWindow">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{ translations['deposit'][session['lang']] }}</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
<!--                <div class="modal-top-row">-->
<!--                    <div class="deposit-icon-selector crypto-selector">-->
<!--                        <div style="margin-right: 15px;">-->
<!--                            <div class='green-text'>{{ translations['choose currency'][session['lang']] }}</div>-->
<!--                            <div class="symbol-tag mb-3" id="crypto-text">🥦</div>-->
<!--                        </div>-->
<!--                        <button type="button" class="btn btn-sm crypto-button mb-1" id="currency-select-usdt"><img class="crypto-icon" src="{{ root_path }}static/logos/usdt.png"></button>-->
<!--                        <button type="button" class="btn btn-sm crypto-button mb-1" id="currency-select-eth"><img class="crypto-icon" src="{{ root_path }}static/logos/eth.png"></button>-->
<!--                    </div>-->
<!--                    <div class="d-flex modal-divider-horz">-->
<!--                        <div class="vr"></div>-->
<!--                    </div>-->
<!--                    <div class="deposit-icon-selector blockchain-selector mt-3">-->
<!--                        <div style="margin-right: 15px;">-->
<!--                            <div class='green-text'>{{ translations['choose chain'][session['lang']] }}</div>-->
<!--                            <div class="symbol-tag mb-3" id="blockchain-text">🍇</div>-->
<!--                        </div>-->
<!--                        <button type="button" class="btn btn-sm blockchain-button mb-1" id="chain-select-erc20"><img class="crypto-chain-icon" src="{{ root_path }}static/logos/erc20.png"></button>-->
<!--                        <button type="button" class="btn btn-sm blockchain-button mb-1" id="chain-select-bep20"><img class="crypto-chain-icon" src="{{ root_path }}static/logos/bep20.png"></button>-->
<!--                        {% if current_user.admin %}-->
<!--                        <button type="button" class="btn btn-sm blockchain-button mb-1" id="chain-select-goerli"><img class="crypto-chain-icon" src="{{ root_path }}static/logos/goerli.png"></button>-->
<!--                        {% endif %}-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="d-flex modal-divider-horz">-->
<!--                  <div class="vr"></div>-->
<!--                </div>-->
                <div class="green-text mb-3" style="text-align: left;">{{ translations['deposit:onlyUSDT'][session['lang']] }}</div>
                <div class="d-flex modal-divider-horz"><div class="vr"></div></div>

<!--                <div class='green-text mt-4 mb-1' style="text-align: center;">{{ translations['totalBalanceAfter'][session['lang']] }}</div>-->

<!--                <div id="deposit-display-amount" class="green-text mt-2 mb-3" style="text-align: center;font-size: x-large;">-->
<!--                    {{ '%0.2f' % current_user.balance_usdt }} USDT on ERC20-->
<!--                </div>-->
<!--                <div class="d-flex modal-divider-horz"><div class="vr"></div></div>-->
                <div class='green-text mt-4 mb-3' style="text-align: center;">{{ translations['choose amount'][session['lang']] }}</div>
                <div class="btn-group money-shortkey mb-3" role="group">
                  <button id="add-10-button" type="button" class="btn btn-outline-success add-to-total">+10</button>
                  <button id="add-20-button" type="button" class="btn btn-outline-success add-to-total">+20</button>
                  <button id="add-50-button" type="button" class="btn btn-outline-success add-to-total">+50</button>
                  <button id="add-100-button" type="button" class="btn btn-outline-success add-to-total">+100</button>
                  <button id="add-500-button" type="button" class="btn btn-outline-success add-to-total">+500</button>
                  <button id="add-1000-button" type="button" class="btn btn-outline-success add-to-total">+1000</button>
                </div>
                <div class="input-group mb-1" style="margin-top:5px;">
                    <span class="input-group-text whiteFont">{{ translations['amount'][session['lang']] }}</span>
                    <input type="number" class="form-control" id="deposit-amount">
                    <div class="btn-group" role="group">
                        <button type="button" id="money-deposit" class="btn btn-outline-success symbol-text">{{ translations['send money'][session['lang']] }}</button>
<!--                        <div class="btn btn-outline-success btn-lg" id="deposit-spinner">-->
<!--                            <div class="icon-spinner spinner-border text-success" role="status" style="position: relative;">-->
<!--                                <img src="{{ root_path }}static/logos/favicon.png" style="height: 25px;">-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>

                </div>

<!--                <div class="btn btn-outline-success btn-lg login-reg-spinner" id="login-spinner">-->
<!--                    <div class="spinner-border text-success" role="status">-->
<!--                        <img src="{{ root_path }}static/logos/favicon.png" class="spinner-logo">-->
<!--                    </div>-->
<!--                </div>-->
                <div>
                    <span class="error-message" id="deposit-error"></span>
                </div>

            </div>
        </div>
    </div>
</div>

<!--<script>-->
<!--    $('#deposit-amount').on('input', function(){-->
<!--        var balance = {{ current_user.balance_usdt }};-->
<!--        var decimals = $('#deposit-amount').val().split('.')[1]-->
<!--        var error = false-->

<!--        if (typeof decimals !== 'undefined') {-->
<!--            if (decimals.length > 2) {-->
<!--                $('#money-deposit').prop('disabled', true)-->
<!--                $('#deposit-error').text(translations['only2decimals'][lang])-->
<!--                error = true-->
<!--            } else {-->
<!--                $('#money-deposit').prop('disabled', false)-->
<!--                $('#deposit-error').text('')-->
<!--                error = false-->
<!--            }-->
<!--        }-->
<!--        let added_amount = 0-->
<!--        if ($('#deposit-amount').val()) {-->
<!--            added_amount = $('#deposit-amount').val()-->
<!--        }-->

<!--        if (!error) {-->
<!--            let displayed_amount = balance + parseFloat(added_amount)-->
<!--&lt;!&ndash;            console.log(displayed_amount + "=" + balance + "+" + parseFloat(added_amount))&ndash;&gt;-->
<!--&lt;!&ndash;            $('#deposit-display-amount').html(displayed_amount.toFixed(2) + ' USDT @ ERC20')&ndash;&gt;-->
<!--        }-->



<!--    });-->
<!--</script>-->
<!-- withdraw popup -->
<div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="withdrawModalWindow" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" id="withdrawModalWindow">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{ translations['withdraw'][session['lang']] }}</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                <div class="modal-top-row">
<!--                    <div class="green-text" id="balance_eth" style="margin-left: 7px;">-->
<!--                        <span style="font-size: larger">{{ translations['yourBalance'][session['lang']] }}: </span> {{ current_user.balance_eth }}-->
<!--                    </div>-->
                    <div class="green-text" id="balance_usdt" style="margin-left: 7px;">
                        <span style="font-size: larger">{{ translations['yourBalance'][session['lang']] }}: </span> <span id="withdraw-balance">{{ '%0.2f' % current_user.balance_usdt }}</span> <span class="crypto-symbol">USDT</span>
                    </div>

                    <div class="input-group mb-1" style="margin-top:5px;">
                        <span class="input-group-text whiteFont">{{ translations['withdraw:walletID'][session['lang']] }}</span>
                        <input id="withdraw-walletID">
                    </div>


                    <div class="green-text" style="margin-left: 7px; font-size:small;">
                        <span style="font-size: larger">{{ translations['withdraw:theMinimum'][session['lang']] }}</span>
                    </div>
<!--                    <label class="form-label" for="customRange1">Example range</label>-->
                    <div class="input-group mb-1" style="margin-top:5px;">
                        <span class="input-group-text whiteFont">{{ translations['amount'][session['lang']] }}</span>
                        <input type="number" class="form-control" id="withdraw-amount" step="0.01" min="1" max="{{ current_user.balance_usdt }}">

                        <div class="btn-group" role="group">
                            <button type="button" id="send-money-withdraw" class="btn btn-outline-success symbol-text">Send</button>
                            <div class="btn btn-outline-success btn-lg login-reg-spinner" id="withdraw-spinner">
                                <div class="icon-spinner spinner-border text-success" role="status">
                                    <img src="{{ root_path }}static/logos/favicon.png" class="spinner-logo">
                                </div>
                            </div>
<!--                            <div class="btn btn-outline-success btn-lg" id="withdraw-spinner">-->
<!--                                <div class="icon-spinner spinner-border text-success" role="status" style="position: relative;">-->
<!--                                    <img src="static/logos/favicon.png" style="height: 25px;">-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>

                    <div>
                        <span class="error-message" id="withdraw-error"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

var translations = $('#meta-translations').data()['name']
var lang = $('#meta-lang').data()['name']

$('#withdraw-amount').on('input', function(){
    var balance = {{ current_user.balance_usdt }};
<!--    var withdraw_amount = parseFloat($('#withdraw-amount').val()).toFixed(2)-->
<!--    $('#withdraw-amount').val() = withdraw_amount.toString()-->
    var decimals = $('#withdraw-amount').val().split('.')[1]
    console.log("dec" + decimals)

    if (typeof decimals !== 'undefined') {
        if (decimals.length > 2) {
            $('#send-money-withdraw').prop('disabled', true)
            $('#withdraw-error').text(translations['only2decimals'][lang])
        } else {
            $('#send-money-withdraw').prop('disabled', false)
            $('#withdraw-error').text('')
        }
    } else {
        if (parseFloat($('#withdraw-amount').val()) > parseFloat(balance)) {
            $('#send-money-withdraw').prop('disabled', true)
            $('#withdraw-error').text(translations['withdraw:toomuch'][lang])
        } else if (parseFloat($('#withdraw-amount').val()) < 20){
            $('#send-money-withdraw').prop('disabled', true)
            $('#withdraw-error').text(translations['withdraw:toolittle'][lang])
        } else {
            $('#send-money-withdraw').prop('disabled', false)
            $('#withdraw-error').text('')
        }
    }


});

$('#send-money-withdraw').on('click', function(){

    $('#withdraw-spinner').show();

    if ($('#withdraw-walletID').val().length > 0){
        $.ajax({
            url: "/withdrawRequest",
            type: "post",
            dataType: "json",
            contentType: "application/json; charset=UTF-8",
            data: JSON.stringify({
                "amount":parseFloat($('#withdraw-amount').val()),
                "currency":"usdt",
                "chain":"goerli",
                "fromAddress":$('#withdraw-walletID').val()
            }),
            success: function(response) {

                $('#withdrawModal').modal('hide');

                $('#modalNotificationTitle').html(translations['withdraw:requestSent'][lang]);
                $('#modalNotificationMsg').html(translations['withdraw:walletID'][lang] + ": " + $('#withdraw-walletID').val().substring(0,6) + "..." + $('#withdraw-walletID').val().slice(-4) + "<br>" + translations['withdraw:24hours'][lang] + " " +
                    '<button type="button" class="btn btn-link" style="padding-left: 0px;" onclick="txnHistory()" data-bs-dismiss="modal" aria-label="Close">' + translations['alert:clickHere'][lang] + '</button>');
                $('#notificationModal').modal('show');

                balance_usdt.innerHTML = '<span class="crypto-symbol">USDT</span> ' + response.usdt
                user_balance = response.usdt
            },
            error: function(e) {
                console.log('getBalance: ' + e);
            },
        });
    } else {
        $('#withdraw-error').text(translations['withdraw:missingWallet'][lang])
        $('#withdraw-spinner').hide();
    }
});

$('#depositModal').on('show.bs.modal', function(){
    var crypto_buttons = document.getElementsByClassName('crypto-button')
    for (var crypto_button of crypto_buttons) {
        crypto_button.classList.remove('active')
    }
    var blockchain_buttons = document.getElementsByClassName('blockchain-button')
    for (var blockchain_button of blockchain_buttons) {
        blockchain_button.classList.remove('active')
    }

    $("#deposit-amount").val("");
    $("#crypto-text").html("🥦");
    $("#blockchain-text").html("🍇");
    $("#deposit-amount").html("");

});

var blockchain_text = document.getElementById('blockchain-text')
var crypto_text = document.getElementById('crypto-text')


$('.blockchain-button').on('click', function(){

    const button_clicked = document.getElementById($(this).attr("id"))

    var cryptos = $(".blockchain-button")
    for (var token of cryptos) {
        if ( token.id != button_clicked.id ) {
            token.classList.remove('active')
            token.style.opacity = "0.5"
        } else {
            token.classList.add('active')
            token.style.opacity = "1"
            blockchain_text.innerHTML = button_clicked.id.split('-')[2].toUpperCase()
        }
    }
});

$('.crypto-button').on('click', function(){

    const button_clicked = document.getElementById($(this).attr("id"))
    var token_name = button_clicked.id.split('-')[2]

    var cryptos = $(".crypto-button")
    for (var token of cryptos) {
        if ( token.id != button_clicked.id ) {
            token.classList.remove('active')
        } else {
            token.classList.add('active')
            crypto_text.innerHTML = token_name.toUpperCase()
        }
    }

    // switch the shortcut keys
    var adds = document.getElementsByClassName("add-to-total");
    if (token_name == "eth") {
        adds.item(0).innerHTML = "+0.001"
        adds.item(1).innerHTML = "+0.005"
        adds.item(2).innerHTML = "+0.01"
        adds.item(3).innerHTML = "+0.05"
        adds.item(4).innerHTML = "+0.1"
        adds.item(5).innerHTML = "+0.5"
    } else if (token_name == "usdt") {
        adds.item(0).innerHTML = "+10"
        adds.item(1).innerHTML = "+20"
        adds.item(2).innerHTML = "+50"
        adds.item(3).innerHTML = "+100"
        adds.item(4).innerHTML = "+500"
        adds.item(5).innerHTML = "+1000"
    }

});


$('.add-to-total').on('click', function(){
    const button_clicked = document.getElementById($(this).attr("id"))
    deposit_amount = document.getElementById('deposit-amount')

    amount = parseFloat(button_clicked.innerHTML.split('+')[1])
<!--    console.log("button clicked: %f", amount);-->

    if (deposit_amount.value.length > 0) {

        new_balance = parseFloat((amount + parseFloat(deposit_amount.value)).toFixed(10))
<!--        console.log("%f + %f = %f", amount, parseFloat(deposit_amount.value), new_balance);-->
        deposit_amount.value = new_balance
    } else {
        deposit_amount.value = amount
    }
    let current_balance = {{ current_user.balance_usdt }} + parseFloat(deposit_amount.value);

<!--    $('#deposit-display-amount').html(current_balance.toFixed(2) + ' USDT @ ERC20')-->


});

</script>

{% endif %}

<!-- forgot password -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="forgotPasswordModalLabel">{{ translations['forgot password'][session['lang']] }}</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <div class='green-text-outline'>{{ translations['enter your email to update password'][session['lang']] }}</div>

                <input type="text" id="forgotPassEmail" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                <br>
                <button type="button" id="forgotEmailSend" class="btn btn-outline-success" data-bs-dismiss="modal" aria-label="Close">{{ translations['send email'][session['lang']] }}</button>
            </div>
        </div>
    </div>
</div>
<!-- forgot password script -->
<script>

    $(document).ready(function(){
        $('#forgotPasswordModal').on('show.bs.modal', function(){
            $("#forgotPassEmail").val('');
        });

        $('#forgotEmailSend').on('click', function(){
            $.ajax({
                  url: "/forgot_pass",
                  type: "post",
                  dataType: "json",
                  contentType: "application/json; charset=UTF-8",
                  data: JSON.stringify({
                    "email":document.getElementById("forgotPassEmail").value,
                  }),
                  success: function(self) {
                    if (typeof self.notification != 'undefined'){
                        $('#forgotPasswordModal').modal('hide');

                        $(".notification").html('<p>'+self.notification.toString()+'</p>');
                        $(".notification_title").html('<p>'+self.notification_title.toString()+'</p>');
                        $('#notificationModal').modal('show');
                    }
                  },
                  error: function(e) {
                    console.log('forgot_pass: ' + e);
                  }
            });
        });
    });
</script>

<!-- Login -->
{% if not current_user.is_authenticated %}
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <script>
            $(document).ready(function(){
              $('#loginModal').on('show.bs.modal', function(){
                 $(".error").html('');
                 $("#login-email").val("");
                 $("#login-password").val("");
                 $("#login-rememberme").prop("checked", false);
                 $('#login-spinner').hide();

                 grecaptcha.reset(widgetId1);
                 document.getElementById('login-email').placeholder = "";
                 document.getElementById('login-password').placeholder = "";
              });
            });
        </script>

        <div class="modal-dialog modal-dialog-centered" role="document" id="loginDialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="loginModalLabel">{{ translations['log in'][lang] }}</h3>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <span class="modal-body">

                    <input type="hidden" name="csrf_token" value="{{ login_form.csrf_token.current_token }}">
                    <div class="input-group mb-3">
                        <span class="input-group-text whiteFont">{{ translations['email'][lang] }}</span>

                        {{ login_form.email(id_="login-email", class_="form-control") }}
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text whiteFont">{{ translations['password'][lang] }}</span>
                        {{ login_form.password(id_="login-password", class_="form-control") }}
                    </div>

                    <span class="green-text-outline">
                        {{ login_form.rememberme(id_="login-rememberme") }}
                        <label for="login-rememberme">{{ translations['keep me logged in'][lang] }}</label>
                        <button id="forgotPassword" type="button" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal" class="btn btn-link green-text">{{ translations['forgot password'][lang] }}?</button>
                    </span>
                    <div id="login-recaptcha"></div>
                    {{ login_form.hidden_tag() }}
                    <span>
                        <div>
                            <div class="btn btn-outline-success btn-lg login-reg-spinner" id="login-spinner">
                                <div class="icon-spinner spinner-border text-success" role="status">
                                    <img src="{{ root_path }}static/logos/favicon.png" class="spinner-logo">
                                </div>
                            </div>
                            {{ login_form.login(method_="POST", class_="btn btn-outline-success btn-lg", id_="loginbtn", style_="float: left;") }}
                            <div class="login-with-text green-text text-sm">...{{ translations['or log in with'][session['lang']] }}:</div>
                            <button class="btn btn-outline-success btn-lg btn-transparent" id="login-metamask" style="float:left; border: none;"><img src="{{ root_path }}static/logos/MetaMask.png" style="height: 24px;"></button>
                        </div>
                        <div class='error'></div>

                    </span>
                </span>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $('#forgotPassword').on('click', function(){
                    $('#loginModal').modal('hide');
                });



                $('#loginbtn').on('click', function(){
                    $('#login-spinner').outerHeight($('#loginbtn').outerHeight());
                    $('#login-spinner').outerWidth($('#loginbtn').outerWidth());
                    $('#login-spinner').css({
                        'display': 'inline-flex'
                    });

                    event.preventDefault();
                    var email = $("#login-email").val();
                    var password = $("#login-password").val();
                    var csrf_token = $("#csrf_token").val();
                    var rememberme = document.querySelector('#login-rememberme').checked;
                    var recaptcha = grecaptcha.getResponse();
                    $.ajax({
                        url: "/login",
                        type: "post",
                        dataType: "json",
                        contentType: "application/json; charset=UTF-8",
                        data: JSON.stringify({
                            "email":email,
                            "password":password,
                            "rememberme":rememberme,
                            "recaptcha":recaptcha,
                            "csrf_token":csrf_token
                        }),
                        success: function(self) {
                            if (typeof self.error != 'undefined'){
                                $('#login-spinner').hide();
                                if (typeof self.resend_email != 'undefined'){
                                    $(".error").html(self.error.toString() + '<br><button id=\"resendEmail\" style=\"display: inline;\" class=\"btn-link\" value=\"' + self.resend_email + '/">' + self.link_text + '</button>');
                                } else {
                                    $(".error").html('<p>'+self.error.toString()+'</p>');
                                }
                            } else {
                                location.href = "{{ url_for('home') }}"
                            }

                        },
                        error: function(e) {
                            console.log('login: ' + e);
                        }
                    });
                });
            });
            $(document).on('click', '#resendEmail', function(self){
                event.preventDefault();
                $('#registerModal').modal('hide');
                $('#loginModal').modal('hide');
                $.ajax({
                  url: "/resend",
                  type: "post",
                  dataType: "json",
                  contentType: "application/json; charset=UTF-8",
                  data: JSON.stringify({
                    "email":$('#resendEmail').val()
                  }),
                  success: function(self) {
                    if (typeof self.notification != 'undefined'){
                        $(".notification").html('<p>'+self.notification.toString()+'</p>');
                        $(".notification_title").html('<p>'+self.notification_title.toString()+'</p>');

                        $('#notificationModal').modal('show');

                    }
                  },
                  error: function(e) {
                    console.log('resend: ' + e);
                  }
                });
            });
        </script>
</div>

<!-- Register -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <script>
            $(document).ready(function(){
              $('#registerModal').on('show.bs.modal', function(){
                 $(".error").html('');
                 $("#reg-email").val("");
                 $("#reg-password").val("");
                 $("#reg-referral").val("");
                 $("#reg-username").val("");
                 $('#reg-spinner').hide();

                 grecaptcha.reset(widgetId2);
              });
            });
        </script>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="registerModalLabel">{{ translations['register'][lang] }}</h3>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
<!--                    <div>-->
<!--                        <button type="button" class="btn btn-link">Re-send verification email</button>-->
<!--                    </div>-->
                <div class="modal-body">
                    {{ register_form.csrf_token }}
                    <div class="input-group mb-3">
                      <span class="input-group-text whiteFont">{{ translations['email'][lang] }}</span>
                      {{ register_form.email(id_="reg-email", class_="form-control") }}
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text whiteFont">{{ translations['username'][lang] }}</span>
                        {{ register_form.username(id_="reg-username", class_="form-control") }}
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text whiteFont">{{ translations['password'][lang] }}</span>
                      {{ register_form.password(id_="reg-password", class_="form-control") }}
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text whiteFont">{{ translations['bonus'][lang] }}</span>
                      {{ register_form.referral(id_="reg-referral", class_="form-control") }}
                    </div>
                    <div id="reg-recaptcha"></div>
                    {{ register_form.hidden_tag() }}
                    <span>
                        <div>
                            <div class="btn btn-outline-success btn-lg login-reg-spinner" id="reg-spinner">
                                <div class="icon-spinner spinner-border text-success" role="status">
                                    <img src="{{ root_path }}static/logos/favicon.png" class="spinner-logo">
                                </div>
                            </div>
                            {{ register_form.register(class_="btn btn-outline-success btn-lg", style_="float: left;", id_="registerbtn") }}
                        </div>
                        <div class='error'></div>
                    </span>

                </div>
            </div>
            <script>
                $(document).ready(function(){

                    $('#registerbtn').on('click', function(self){

                        $('#reg-spinner').height($('#registerbtn').height());
                        $('#reg-spinner').width($('#registerbtn').width());
                        $('#reg-spinner').css({
                            'display': 'inline-flex'
                        });

                        event.preventDefault();

                        var email = $("#reg-email").val();
                        var username = $("#reg-username").val();
                        var password = $("#reg-password").val();
                        var referral = $("#reg-referral").val();
                        var recaptcha = grecaptcha.getResponse(widgetId2);

                        $.ajax({
                          url: "/register",
                          type: "post",
                          dataType: "json",
                          contentType: "application/json; charset=UTF-8",
                          data: JSON.stringify({
                            "email":email,
                            "password":password,
                            "username":username,
                            "referral":referral,
                            "recaptcha":recaptcha
                          }),
                          success: function(self) {

                            if (typeof self.resend_email != 'undefined'){
                                $('#reg-spinner').hide();
                                if (typeof self.link_text != 'undefined'){
                                    $(".error").html(self.error.toString()+'<br><button id=\"resendEmail\" class=\"modal-error-link\" value=\"' + self.resend_email + '/">' + self.link_text.toString() + '</button>');
                                } else {
                                    $(".error").html(self.error.toString());
                                }
                            } else {
                                if (typeof self.error != 'undefined'){
                                    $('#reg-spinner').hide();
                                    $(".error").html('<p>'+self.error.toString()+'</p>');
                                } else if (typeof self.notification != 'undefined'){
                                    $(".notification").html('<p>'+self.notification.toString()+'</p>');
                                    $(".notification_title").html('<p>'+self.notification_title.toString()+'</p>');
                                    $('#notificationModal').modal('show');
                                    $('#registerModal').modal('hide');
                                }
                            }

                          },
                          error: function(e) {
                            console.log('register: ' + e);
                          }
                        });
                    });
                });

                var onloadCallback = function() {
                    widgetId1 = grecaptcha.render("login-recaptcha", {
                              "sitekey" : "{{ RECAPTCHA_PUBLIC_KEY }}",
                              'theme' : 'dark'
                      });
                    widgetId2 = grecaptcha.render("reg-recaptcha", {
                          'sitekey' : '{{ RECAPTCHA_PUBLIC_KEY }}',
                          'theme' : 'dark'
                    });
                };
            </script>
        </div>
    </div>
{% endif %}

<!-- Notification -->
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="notificationModalLabel"><div class="notification_title" id="modalNotificationTitle">{{ notification_title }}</div></h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modalNotificationMsg" class='notification green-text-outline'>{{ notification }}</div>
            </div>
        </div>
    </div>
</div>

<!-- Reset Password -->
<div class="modal fade" id="resetPassModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="resetPassModalLabel"><div class="resetPass_title">Reset password</div></h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class='notification green-text-outline'>Enter a new password</div>

                <input type="password" id="newPassword" class="form-control" placeholder="Password" aria-label="Email" aria-describedby="basic-addon1">
                <br>
                <button type="button" id="newPasswordSend" class="btn btn-outline-success" data-bs-dismiss="modal" aria-label="Close">Set password</button>
            </div>
        </div>
    </div>
</div>
{% if notification_popup == 'True' %}
<script language="JavaScript" type="text/javascript">
    $(document).ready(function(){
        $('#notificationModal').modal('show');
    });
</script>
{% elif reset_pass == 'True' %}
<script language="JavaScript" type="text/javascript">
    $(document).ready(function(){
        $('#resetPassModal').modal('show');
    });

    $('#newPasswordSend').on('click', function(){
        $.ajax({
              url: "/set_password",
              type: "post",
              dataType: "json",
              contentType: "application/json; charset=UTF-8",
              data: JSON.stringify({
                "password":document.getElementById("newPassword").value,
              }),
              success: function(self) {

                var xhr = new XMLHttpRequest();
                xhr.open("POST", "{{ url_for('home') }}", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({
                    notification: 'Password has been updated.  You may log in now!',
                    notification_title: 'Reset password'
                }));
                $(".notification").html('<p>'+self.notification+'</p>');
                $(".notification_title").html('<p>'+self.notification_title+'</p>');

                $('#notificationModal').modal('show');
              },
              error: function(e) {
                console.log('set_password: ' + e);
              }
        });
    });
</script>
{% endif %}

    <script language="JavaScript" type="module" src="{{ root_path }}/static/js/metamask_modal.js"></script>

{% if not current_user.is_authenticated %}
        <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&hl={{ lang }}' async defer></script>
{% endif %}
