<h5 class="video-element-title gallery-header" id="top-section-header"><img style="height:32px;" src="{{ static_path }}static/icons//ui/category_select/png/top games.png"> {{ translations['top games'][session['lang']] }}</h5>

{% for category in icon_placement if category == 'top games' %}
<div class="top-section-container">
    {% for k in icon_placement[category] %}
        {% set outer_loop = loop %}
        {% if outer_loop.index % 4 == 1 %}
            <div class="view-small">
        {% endif %}
                <div class="med-card card shadow-sm">
                    {% for game_title in game_titles %}
                        {% if game_title['gamecode'] == k.split("_")[0] %}
                            <div class="top-game-thumb-top">
                                <span class="badge bg-warning text-dark">#{{ outer_loop.index }}</span>
                                <div class="top-section-icon">
                                    <img class="top-games-img" src="{{ static_path }}static/icons/cq9/{{ k }}">
                                </div>
                                <div class="top-games-button-overlay"></div>
                                <div class="top-games-button-overlay-title">
                                    {% for title in game_title['nameset'] if title['lang'] == session['lang'] %}
                                    {{ title['name'] }}
                                    {% endfor %}
                                </div>
                            </div>


                            <button id="{{ k }}" type="submit" value="{{ k }}" class="btn-outline btn gallery-btn launch"
                                {% if current_user.is_authenticated %}
                                        name="launch" data-bs-toggle="modal" data-bs-target="#gamelaunchModal">
                                {% else %}
                                        data-bs-toggle="modal" data-bs-target="#registerModal">
                                {% endif %}
                                Play now<br><br>
                                {% for title in game_title['nameset'] if title['lang'] == session['lang'] %}
                                    {{ title['name'] }}
                                {% endfor %}
    <!--                                        {{ game_title['nameset']|select(lang) }}-->
                            </button>
                        {% endif %}
                    {% endfor %}
                </div>
        {% if outer_loop.index % 4 == 0 %}
            </div>
        {% endif %}
    {% endfor %}

</div>
{% endfor %}</div>
<div class="green-text top-games-expand"><i class="bi bi-chevron-bar-down"><br>{{ translations['see more'][session['lang']] }}</i></div>

<!--<div class="top-games-cover"></div>-->

    <script>
        $(document).ready(function(){
            $('.launch').on('click', function(){
                event.preventDefault();
                $.ajax({
                  url: "/launch",
                  type: "post",
                  dataType: "json",
                  contentType: "application/json; charset=UTF-8",
                  data: JSON.stringify({
                    "id":$(this).attr("id")
                  }),
                  success: function(self) {
                    $('#gamelaunchModal').modal('hide');
                    window.open(self.link.toString());
                  },
                  error: function(e) {
                    console.log(e);
                  }
                });
            });
        });
    </script>