
<div class="video-container">

  <div>
    <video playsinline autoplay loop muted class="video-element-video" muted="" autoplay="" loop="" src="{{ static_path }}static/video/motivation.mp4" type="video/mp4"></video>
  </div>
  <div class="video-element-overlay">
    <div class="video-element-description">
      <img class="video-element-logo" src="{{ static_path }}static/logos/motivation_logo.png">
      <div class="video-element-title">{{ translations['live baccarat'][session['lang']] }}</div>
    </div>

    <button class="btn btn-outline-success video-element-button video-element-title" data-bs-toggle="modal" data-bs-target="#loginModal">
      <div >{{ translations['playnow'][session['lang']] }}</div>
    </button>
  </div>



</div>










<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>

