<h5 class="video-element-title gallery-header" id="top-section-header"><img style="height:32px;" src="{{ static_path }}static/icons//ui/category_select/png/top games.png"> {{ translations['top games'][session['lang']] }}</h5>

    {% for category in icon_placement if category == 'top games' %}
    <div class="container top-section-container">
        {% for k in icon_placement[category] %}
            {% set outer_loop = loop %}
            {% if loop.index % 5 == 1 %}
                <div class="view-small">
            {% endif %}
                    <div class="med-card card shadow-sm">
                        {% for game_title in game_titles %}
                            {% if game_title['gamecode'] == k.split("_")[0] %}
                                <div class="top-game-thumb-top">
                                    <span class="badge bg-warning text-dark">#{{ outer_loop.index }}</span>
                                    <div class="top-section-icon">
                                        <img src="{{ static_path }}static/icons/cq9/{{ k }}" style="height: 100%;">
                                    </div>
                                </div>


                                <button id="{{ k }}" type="submit" value="{{ k }}" class="btn-outline btn gallery-btn launch"
                                    {% if current_user.is_authenticated %}
                                            name="launch" data-bs-toggle="modal" data-bs-target="#gamelaunchModal">
                                    {% else %}
                                            data-bs-toggle="modal" data-bs-target="#registerModal">
                                    {% endif %}
                                    Play now<br><br>
                                    {% for title in game_title['nameset'] if title['lang'] == lang %}
                                        {{ title['name'] }}
                                    {% endfor %}
        <!--                                        {{ game_title['nameset']|select(lang) }}-->
                                </button>
                            {% endif %}
                        {% endfor %}
                    </div>
            {% if loop.index % 5 == 0 %}
                </div>
            {% endif %}
        {% endfor %}

        </div>
    {% endfor %}
<div class="top-games-cover"></div>
<div class="green-text top-games-expand"><i class="bi bi-chevron-bar-down"><br>{{ translations['see more'][session['lang']] }}</i></div>

    <script>
        $(document).ready(function(){
            $('.launch').on('click', function(){
                event.preventDefault();
                $.ajax({
                  url: "/launch",
                  type: "post",
                  dataType: "json",
                  contentType: "application/json; charset=UTF-8",
                  data: JSON.stringify({
                    "id":$(this).attr("id")
                  }),
                  success: function(self) {
                    $('#gamelaunchModal').modal('hide');
                    window.open(self.link.toString());
                  },
                  error: function(e) {
                    console.log(e);
                  }
                });
            });
        });
    </script>