<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="top_bar">
          <div class="top-bar-desktop">
<!-- LOGO -->
            <a class="navbar-brand" href="/">
              <img src="{{ static_path }}/icons/ui/favicon.png" style="height: 25px;">
              <img src="{{ static_path }}/icons/ui/main_title.png" class="main-logo">
            </a>

<!-- BALANCE (if logged in) -->
            {% if current_user.is_authenticated %}
              <div class="green-text login-data">
                  Hi {{ current_user.username }} ♥️🙏🏼
                  <div id="balance" data-toggle="tooltip" data-placement="bottom" title="Balance refreshes every 30 seconds">
                      {{ current_user.balance }} {{ current_user.currency }}
                  </div>
              </div>
            {% endif %}
<!-- SOCIALS (Desktop) -->
<!--            <a class="navbar        d" href="https://discord.gg/ebjsys6h">-->
<!--                <i class="bi bi-discord"></i>-->
<!--            </a>-->
<!--            <a class="navbar-brand" href="https://twitter.com/cryptoraiderio">-->
<!--                <i class="bi bi-twitter"></i>-->
<!--            </a>-->
            <div class="top-bar-right-side">
                {% if current_user.is_authenticated and session['admin'] %}
                    <a class="btn btn-outline-success" href="/search"><i class="bi bi-search"></i></a>
                {% endif %}
                <form method="POST" style="display: inline;">
                    <select id="language-select" name="language-select" class="green-text" onchange="this.form.submit();">


                        <option value="en" id="lang-en">English</option>
                        <option value="b5" id="lang-b5">繁體中文</option>
                        <option value="zh-cn" id="lang-zh-cn">简体中文</option>
                        <option value="ja" id="lang-ja">日本</option>
                        <option value="id" id="lang-id">Bahasa</option>
                        <option value="ko" id="lang-ko">한국어</option>
                        <option value="vn" id="lang-vn">Việt</option>
                        <option value="pt-br" id="lang-pt-br">Português</option>
                        <option value="es" id="lang-es">Española</option>

                    </select>
                    <script>
                        $(document).ready(function(){
                            active_lang = document.getElementById("lang-" + "{{ lang }}");
                            active_lang.setAttribute("selected", "selected");

                        });
                    </script>
                </form>

<!-- PROFILE/LOGOUT (if logged in) -->
                {% if current_user.is_authenticated %}
                    <a class="btn btn-outline-success" href="/profile">Profile</a>
                    <a class="btn btn-outline-success" href="/logout">Log out</a>
                {% else %}
<!-- LOGIN/REGISTER (if NOT logged in) -->
                    <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#loginModal">
                      <div >{{ translations['log in'][lang] }}</div>
                    </button>
                    <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#registerModal">
                      <div >{{ translations['register'][lang] }}</div>
                    </button>
                {% endif %}
            </div>
          </div>
<!-- MOBILE -->
          <div class="top-bar-mobile">
<!-- LOGO -->
              <img src="{{ static_path }}/icons/ui/main_title.png" class="main-logo">
<!-- SOCIALS -->
<!--              <div>-->
<!--                  <a class="navbar-brand" href="https://discord.gg/ebjsys6h">-->
<!--                    <i class="bi bi-discord"></i>-->
<!--                  </a>-->
<!--                  <a class="navbar-brand" href="https://twitter.com/cryptoraiderio">-->
<!--                    <i class="bi bi-twitter"></i>-->
<!--                  </a>-->
<!--              </div>-->
          </div>
<!-- LOGIN/REGISTER (if NOT logged in) -->
          <div class="top-bar-mobile" style="transform: scale(1.2); padding-right:5px;">
              <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#loginModal">
                  <div >{{ translations['log in'][lang] }}</div>
              </button>
              <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#registerModal">
                  <div >{{ translations['register'][lang] }}</div>
              </button>
          </div>
        </nav>
    </div>
</header>


{% if current_user.is_authenticated %}
    <script language="JavaScript" type="text/javascript">
    $(document).ready(function(){
        var balance_field = document.getElementById("balance");
        function updater() {
            fetch('/getBalance')
            .then(response => response.text())
            .then(text => (balance_field.innerHTML = text));  // update page with new data
        }
        setInterval(updater, 30000);  // run `updater()` every (30s)
    });
    </script>
{% endif %}