<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="top_bar">
          <div class="top-bar-desktop">
<!-- LOGO -->
            <a class="navbar-brand" href="/">
              <img src="{{ static_path }}/icons/ui/favicon.png" style="height: 25px;">
              <img src="{{ static_path }}/icons/ui/main_title.png" class="main-logo">
            </a>

<!-- BALANCE (if logged in) -->
            {% if current_user.is_authenticated %}
              <div class="green-text login-data">
                  Hi {{ current_user.username }} ♥️🙏🏼
                  <div id="balance" data-toggle="tooltip" data-placement="bottom" title="Balance refreshes every 30 seconds">
                      {{ current_user.balance }} {{ current_user.currency }}
                  </div>
              </div>
            {% endif %}
<!-- SOCIALS (Desktop) -->
<!--            <a class="navbar        d" href="https://discord.gg/ebjsys6h">-->
<!--                <i class="bi bi-discord"></i>-->
<!--            </a>-->
<!--            <a class="navbar-brand" href="https://twitter.com/cryptoraiderio">-->
<!--                <i class="bi bi-twitter"></i>-->
<!--            </a>-->
            <div class="top-bar-right-side">
                <select id="language-select" class="green-text">
                    <option value="en">English</option>
                    <option value="b5">Trad Ch</option>
                    <option value="zh-cn">Simp Ch</option>
                    <option value="ja">Japan</option>
                    <option value="id">Indo</option>
                    <option value="ko">Korea</option>
                    <option value="vn">Viet</option>
                    <option value="pt-br">Port</option>
                </select>

                <script>
                    $(document).ready(function(){
                        $('#language-select').change(function(){
                            event.preventDefault();
                            lang = document.getElementById("language-select").value;
                            $.ajax({
                              url: "/",
                              type: "post",
                              dataType: "json",
                              contentType: "application/json; charset=UTF-8",
                              data: JSON.stringify({
                                "lang":lang
                              }),
                              success: function(response) {
                                window.location.reload();
                              },
                              error: function(e) {
                                console.log(e);
                              }
                            });
                        });
                    });
                </script>

<!-- PROFILE/LOGOUT (if logged in) -->
                {% if current_user.is_authenticated %}
                    <a class="btn btn-outline-success" href="/profile">Profile</a>
                    <a class="btn btn-outline-success" href="/logout">Log out</a>
                {% else %}
<!-- LOGIN/REGISTER (if NOT logged in) -->
                    <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#loginModal">
                      <div >Log in</div>
                    </button>
                    <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#registerModal">
                      <div >Register</div>
                    </button>
                {% endif %}
            </div>
          </div>
<!-- MOBILE -->
          <div class="top-bar-mobile">
<!-- LOGO -->
              <img src="{{ static_path }}/icons/ui/main_title.png" class="main-logo">
<!-- SOCIALS -->
<!--              <div>-->
<!--                  <a class="navbar-brand" href="https://discord.gg/ebjsys6h">-->
<!--                    <i class="bi bi-discord"></i>-->
<!--                  </a>-->
<!--                  <a class="navbar-brand" href="https://twitter.com/cryptoraiderio">-->
<!--                    <i class="bi bi-twitter"></i>-->
<!--                  </a>-->
<!--              </div>-->
          </div>
<!-- LOGIN/REGISTER (if NOT logged in) -->
          <div class="top-bar-mobile" style="transform: scale(1.2); padding-right:5px;">
              <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#loginModal">
                  <div >Log in</div>
              </button>
              <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#registerModal">
                  <div >Register</div>
              </button>
          </div>
        </nav>
    </div>
</header>


{% if current_user.is_authenticated %}
    <script language="JavaScript" type="text/javascript">
    $(document).ready(function(){
        var balance_field = document.getElementById("balance");
        function updater() {
            fetch('/getBalance')
            .then(response => response.text())
            .then(text => (balance_field.innerHTML = text));  // update page with new data
        }
        setInterval(updater, 30000);  // run `updater()` every (30s)
    });
    </script>
{% endif %}