<header>
    <div class="container-fluid">
        {% if current_user.is_authenticated %}
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="top_bar">
        {% else %}
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="top_bar_not_logged">
        {% endif %}
          <div class="top-bar-desktop">
<!-- LOGO -->
            <a class="navbar-brand" href="/">
              <img src="{{ static_path }}/icons/ui/favicon.png" style="height: 25px;">
              <img src="{{ static_path }}/icons/ui/main_title.png" class="main-logo">
            </a>

<!-- BALANCE (if logged in) -->
            {% if current_user.is_authenticated %}
              <div class="green-text login-data">
                  Hi {{ current_user.username }} ♥️🙏🏼
                  <div class="balanceBox" id="balance" data-toggle="tooltip" data-placement="bottom" title="Balance refreshes every 30 seconds">
                      {{ current_user.balance }} {{ current_user.currency }}
                  </div>
              </div>
            {% endif %}
<!-- SOCIALS (Desktop) -->
<!--            <a class="navbar        d" href="https://discord.gg/ebjsys6h">-->
<!--                <i class="bi bi-discord"></i>-->
<!--            </a>-->
<!--            <a class="navbar-brand" href="https://twitter.com/cryptoraiderio">-->
<!--                <i class="bi bi-twitter"></i>-->
<!--            </a>-->
            <div class="top-bar-right-side">
                {% if current_user.is_authenticated and session['admin'] %}
                    <a class="btn btn-outline-success" href="/search"><i class="bi bi-search"></i></a>
                {% endif %}
                <form method="POST" style="display: inline;">
                    <select id="language-select" name="language-select" class="green-text" onchange="this.form.submit();">


                        <option value="en" id="lang-en">English</option>
                        <option value="zh-tw" id="lang-zh-tw">繁體中文</option>
                        <option value="zh-cn" id="lang-zh-cn">简体中文</option>
                        <option value="ja" id="lang-ja">日本</option>
                        <option value="id" id="lang-id">Bahasa</option>
                        <option value="ko" id="lang-ko">한국어</option>
                        <option value="vi" id="lang-vi">Việt</option>
                        <option value="pt-br" id="lang-pt-br">Português</option>
                        <option value="es" id="lang-es">Española</option>

                    </select>
                    <script>
                        $(document).ready(function(){
                            active_lang = document.getElementById("lang-" + "{{ session['lang'] }}");
                            active_lang.setAttribute("selected", "selected");

                        });
                    </script>
                </form>

<!-- PROFILE/LOGOUT (if logged in) -->
                {% if current_user.is_authenticated %}
                    <a class="btn btn-outline-success" href="/profile">{{ translations['profile'][session['lang']] }}</a>
                    <a class="btn btn-outline-success" href="/logout">{{ translations['log out'][session['lang']] }}</a>
                {% else %}
<!-- LOGIN/REGISTER (if NOT logged in) -->
                    <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#loginModal">
                      <div >{{ translations['log in'][session['lang']] }}</div>
                    </button>
                    <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#registerModal">
                      <div >{{ translations['register'][session['lang']] }}</div>
                    </button>
                {% endif %}
            </div>
          </div>


<!-- MOBILE -->
            <div class="top-bar-mobile">
            <!-- LOGO -->
                <img src="{{ static_path }}/icons/ui/main_title.png" class="main-logo">
                <!-- SOCIALS -->
                <!--              <div>-->
                <!--                  <a class="navbar-brand" href="https://discord.gg/ebjsys6h">-->
                <!--                    <i class="bi bi-discord"></i>-->
                <!--                  </a>-->
                <!--                  <a class="navbar-brand" href="https://twitter.com/cryptoraiderio">-->
                <!--                    <i class="bi bi-twitter"></i>-->
                <!--                  </a>-->
                <!--              </div>-->
                <div id="top-bar-mobile-right">
                    {% if current_user.is_authenticated %}
                        <a class="btn btn-outline-success" href="/profile">{{ translations['profile'][session['lang']] }}</a>
                        <a class="btn btn-outline-success" href="/logout">{{ translations['log out'][session['lang']] }}</a>
                    {% else %}
                        <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#loginModal">
                          <div >{{ translations['log in'][session['lang']] }}</div>
                        </button>
                        <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#registerModal">
                          <div >{{ translations['register'][session['lang']] }}</div>
                        </button>
                    {% endif %}
                </div>
                {% if current_user.is_authenticated %}
                    <div class="green-text login-data-mobile">
                        <div style="float: left;">
                            <div class="balanceBox" id="balance2" data-toggle="tooltip" data-placement="bottom" title="Balance refreshes every 30 seconds">
                              {{ current_user.balance }} {{ current_user.currency }}
                            </div>
                            <div class="btn btn-transparent" id="refresh_balance" style="height: 43px; display: inline-block;">
                                <h3><i class="bi bi-arrow-clockwise"></i></h3>
                            </div>
                        </div>
                        <div style="float: right;padding-top: 7px;"> Hi {{ current_user.username }} ♥️🙏🏼</div>
                    </div>
                {% endif %}

            </div>
<!-- LOGIN/REGISTER (if NOT logged in) -->

        </nav>
    </div>
</header>


{% if current_user.is_authenticated %}
    <script language="JavaScript" type="text/javascript">
    $(document).ready(function(){
        var balance_field = document.getElementById("balance");
        var balance_field2 = document.getElementById("balance2");
        function updater() {
            fetch('/getBalance')
            .then(response => response.text())
            .then(text => (balance_field.innerHTML = text))  // update page with new data
            .then(text => (balance_field2.innerHTML = text));  // update page with new data
        }
        $('#refresh_balance').on('click', function(){
            updater();
        });
        setInterval(updater, 30000);  // run `updater()` every (30s)
    });
    </script>
{% endif %}